[2019-01-10 16:03] ricellis opened #13 "Issues with `$ref` format checking"
I've found a few problems with the way the validator tool checks `$ref` usage using version `0.2.1`.
I've created and attached a set of example files in [example.zip](https://github.com/IBM/openapi-validator/files/2746067/example.zip) which demonstrates the problems, unzip and run for `vi.yaml`.

1. The checking does not apply consistently across all types - in my example `vi.yaml` errors are give

[2019-01-14 14:15] ricellis opened #14 "`type+format` errors issued for `oneOf` elements in inline property schema objects"
When using an identical `Schema Object` by `$ref` or inline for a property the inline case produces `type+format` warnings, but the `$ref` case (correctly I think) does not.

See attached [testoneof.yaml.zip](https://github.com/IBM/openapi-validator/files/2755463/testoneof.yaml.zip)

It contains a `/ref` path and an `/inline` path - each of which uses the same body schema of an object containing a

[2019-01-28 18:49] krisolafson opened #18 "Objects with a property named "security" throw errors complaining that "security requirements must match a security definition""
I believe this validation check should only be done when "security" is at the resource level.

[2019-01-30 16:36] #13 closed

[2019-01-30 17:21] SirSpidey opened #19 "type+format error on allowable combination (format: uuid)"
Because the validator allows only the formats that are listed in the specification table, it produces an error for some that are usable. For example, `"format": "uuid"`.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types
https://swagger.io/docs/specification/data-models/data-types/

*error*
[code]

*source*
[code]

The `trace` use case is from our API Implementati

[2019-01-30 17:35] dpopp07 commented on #19
I think we should be letting users know when they aren't using an explicitly defined format but an `error` might be too extreme, since the spec declares users "MAY" use other formats. Perhaps this should be a `warning`.

@mkistler What are your thoughts?

[2019-01-30 23:48] krisolafson commented on #18
Sure, I tried to strip down an example that was throwing some errors for us

`openapi: 3.0.0
info:
    title: Cloud API
    description: The Customer Experience Engineering (CXE) OpenAPI specification.
    version: 2.0.0
    contact:
        name: Customer Experience Engineering (CXE)
        url: 'https://backlog.acquia.com/secure/CreateIssue!default.jspa?pid=16580'
        email: cx-eng@acquia.c

[2019-01-30 23:54] #14 closed

[2019-01-31 00:14] mkistler commented on #19
The OpenAPI spec allows _any_ value for `format`, but values other than the "well defined" values in the OpenAPI spec are ambiguous and thus must be discouraged.

[2019-01-31 14:20] SirSpidey commented on #19
@mkistler Because it is allowed, I think it should be marked as a warning, not an error.

[2019-02-01 14:04] mkistler commented on #19
That's not the criteria that we use to decide error vs warning.  There's a long list issues we flag as errors that are allowed by the spec.
[code]

We flag things as errors when they are 1) common sources of error, 2) generally correctable without huge effort.

Arbitrary values in "format" have been very common in WDC API docs and they cause significant problems in the SDKs, since they result in i

[2019-02-01 22:19] dpopp07 commented on #18
@krisolafson Thanks for posting that - this is a bug and I've identified the problem. The fix will be released early next week, likely on Monday.

[2019-02-05 02:38] #18 closed

[2019-02-05 02:40] dpopp07 commented on #18
:tada: This issue has been resolved in version 0.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-05 02:40] dpopp07 commented on #14
:tada: This issue has been resolved in version 0.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-05 02:40] dpopp07 commented on #13
:tada: This issue has been resolved in version 0.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-05 18:18] rrberry opened #22 "Error when property is named "parameters""
One of the models in my API definition has a property named `parameters`:
[code]
The validator gives me these errors:
[code]
The errors go away if I change the name of the property to something other than `parameters`. It seems to be assuming that anything named `parameters` is an OpenAPI `parameters` object, when in this case it is just an ordinary property that happens to be named `parameters`.

[2019-02-05 22:03] krisolafson commented on #18
Works like a charm, thank you very much!

[2019-03-27 20:48] danhudlow opened #28 "Validator allows duplicate `operationId` values in some cases"
At least when two operations use a `$ref` to the same operation object, the validator doesn't seem to pick up on the consequentially shared `operationId`.

[2019-03-28 15:51] dpopp07 commented on #28
It does look for duplicated operation ids, but that's an interesting edge case that I guess it can't handle. That's worth looking into, thanks for the issue

[2019-03-28 16:10] dhudlow opened #29 "Problem following references when run outside of the root definition directory"
Running from outside the root OpenAPI definition's directory can cause a failure to follow relative file references. For example, this fails:

[code]

(Fails to find `pets.yaml` because the file is in `/projects/api/definition/`)

Even when this succeeds:
[code]

[2019-03-29 11:41] alkurbatov commented on #19
@mkistler Perhaps it would be better to allow users to whitelist some format types? In case 'I know what I am doing'.

[2019-03-29 21:10] mkistler commented on #19
We will be adding some types -- specifically `identifier` and `crn` -- soon.

Re: "I know what I am doing", I think the more important question is: "Does _everyone_ know what you are doing?" `format: gobbledegook` might be perfectly clear to you, but the API doc is meant as a communication mechanism to others.

[2019-03-30 06:17] alkurbatov commented on #19
Well, it depends on particular situation. In my case we use Marshmallow which has explicit uuid type of schema field and write docs in Openapi format for internal use. In such situation uuid format looks ok. May be when we publish the API to the outer world it will be not true, but now 'everyone knows' :)

[2019-04-05 00:40] daareiza opened #30 "Validator doesn't handle some schema object properties"
Hello,

I am using this wonderful validator to check my openapi 3.0 files, but I have a little issue.

When the validator finds a `response schema` object, it forces it to be followed by a named ref, and this is fine.

But per [openpi 3.0 spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#schema-object), one schema could be any kind of a list, `oneOf`, and that's exac

[2019-04-05 03:20] mkistler commented on #30
It may be that the validator should not complain about this form of response schema, but the particular example you give looks like a very bad design. If this truly does represent your use case, I encourage you to rethink it. Specifically, it will be confusing a cumbersome to your users if you indeed return either a successful result or an error in the same response type. Typically only responses

[2019-04-05 13:52] daareiza commented on #30
Hello Mike,

yeah, it was just an example, my real case is multiple success responses but with different response schemas/structures.

Because of the different schemas, I wrote one for each possible schema, and not filling a generic one with a lot of `nullable: true`.

This only happens once in my API, it's a very special endpoint with a lot of options.

[2019-04-09 21:47] dpopp07 commented on #28
Hey @danhudlow, finally getting around to looking at this. I'm wondering about this pattern that you're finding the problem with. It doesn't look like the spec supports referencing entire operations (based on [the definition of a path object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#path-item-object)).

Are you storing operation objects under `schemas` (or `defini

[2019-04-09 22:27] dhudlow commented on #28
The path item object itself can contain a reference, and I have seen two different paths offer the same behavior by referencing the same path item object.

[2019-04-10 14:17] dpopp07 commented on #28
Ah yes, you're correct. Thanks for setting me straight. That still seems like an odd pattern to me, since any path item shared between two paths would have the colliding operation ID problem you originally mentioned (if the shared path item has an operation defined). That said, I understand the use case so I'll add logic just to check the existence of duplicated IDs.

[2019-04-10 19:16] dpopp07 commented on #28
@dhudlow Have a look at the test case in #31 and let me know if that is a realistic and/or appropriate use case for what you were looking to fix.

[2019-04-10 19:21] dhudlow commented on #28
Looks right to me!

[2019-04-11 14:16] #28 closed

[2019-04-11 14:18] dpopp07 commented on #28
:tada: This issue has been resolved in version 0.2.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-15 12:54] jammi opened #34 "README points to some closed-source repository"
Where you're talking about the defaults file, it goes to some IBM internal site rather than pointing to a relative path within the repository.

[2019-05-15 14:29] dpopp07 commented on #34
@jammi Good catch, thanks for the issue. That will be fixed today

[2019-05-15 18:55] #34 closed

[2019-05-16 14:12] dpopp07 commented on #34
:tada: This issue has been resolved in version 0.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-18 01:20] kazazor opened #38 "Allow having lower_camel_case under schema validation"
for all of the camel case lovers :)

[2019-05-21 12:49] s-nilsson commented on #22
We have the same issue and turned off 2 checks in .validaterc as a workaround
[code]

[2019-05-21 13:39] aspear commented on #38
Do you actually mean lower_snake_case (lower case separated by underscores, https://en.wikipedia.org/wiki/Snake_case) ?

[2019-05-21 13:48] jammi commented on #29
When used programmatically, it seems to have issues resolving refs on documents it otherwise validates fine, such as:
 ```SyntaxError: Error resolving $ref pointer "/path/to/cwd#/components/schemas/ref_thing".```

[2019-05-21 13:53] dpopp07 commented on #29
@jammi Interesting... you mean it works fine from the command line but fails if you run in as an imported module within code?

[2019-05-21 14:57] jammi commented on #29
Actually, forget that. It was a mistake on my end. I passed the parent object of it within a dynamic transformation. Maybe it should rather throw an error about the document not really being an openapi document. I’ll supply an example later.

[2019-05-22 08:05] apestov opened #39 "securityScheme import: Cannot read property 'toLowerCase' of undefined"
##### VERSION
ibm-openapi-validator: 0.5.0

##### SUMMARY
Validator fails with ` Cannot read property 'toLowerCase' of undefined`  on securityScheme import like:
[code]

##### STACK TRACE
[code]

##### STEPS TO REPRODUCE
1. Create `base.yaml`
[code]

2. Create `main.yaml`
[code]

3. Launch validator
[code]

##### Expected result
ibm-openapi-validator will use the securityScheme definition inside m

[2019-05-29 17:16] aspear opened #40 "Add explicit control of case convention for paths and schema"
Hi!  This tool is awesome, and  it would be really nice to have explicit control over case conventions for paths, and then schema objects and enums.  As it is, the only control over this is the global boolean "snake_case_only" which is only useful for one convention (presumably IBMs).  In my company (VMware) we have many APIs that come from different products that all have their own ways of handin

[2019-05-29 20:35] dpopp07 commented on #39
@apestov Thanks for this issue! We should have a fix out soon

[2019-05-29 20:43] dpopp07 commented on #40
@aspear Thanks for the issue, so glad you like the tool! Making all of the current case convention validations configurable is something we really want to do and it's been sitting in our backlog for a while - we just haven't gotten around to it. We definitely welcome that PR, I will review it soon

[2019-05-30 19:55] aspear opened #43 "Add optional reporting of results in json to allow scripting the tool"
Adding a new option to the command line tool that allows printing the results directly in json would be nice for use cases where someone wants to script calling lint-open api from another tool.  Something like "lint-openapi --json ./path/to/swagger.json"

I have this implemented already and will submit a PR for it.

[2019-05-30 20:02] dpopp07 commented on #43
Love this idea. Just this morning, I was just watching a demo of another CLI tool that did this and I noted that we should put it in here at some point. Thanks for these contributions!

[2019-05-30 20:11] aspear opened #44 "Add optional reporting of failing validation"
lint-openapi has a "--print_validator_modules" which prints the name of the module that contains the failing validation,  but this information is of limited value because the information is an implementation detail that is invisible to a user of the tool from the command line.  It would be nice to have another option that resulted in printing the actual name of the config option that resulted in t

[2019-05-30 23:04] dpopp07 commented on #44
I like this idea. I only added the `--print_validator_modules` option to be  helpful in development but that was before the configuration support and names for all of the rules, etc. I don't expect it to be of any help to users and it really doesn't do much for the developer anymore either. It will be removed in a future release.

As for the `--print_validator_name` feature, I'm in support of it.

[2019-05-31 02:25] aspear commented on #44
--print_rule_name ?  No opinion here, whatever you think is intuitive.

Perhaps for those validations you mention above we can make up a name for them that follows a pattern, e.g. "builtin_xxxxx" where  and then simply document that it is not possible to turn builtin_* rules off or something like that.  I am guessing that implementing this will require adding an additional field to the JSON result

[2019-05-31 02:44] mkistler commented on #44
@aspear I want to echo @dpopp07 and say thanks for the interest and contributions. From the beginning our goal was to create a _configurable and extensible_ linter for OpenAPI documents, so all contributions in this spirit are welcome!

[2019-05-31 07:42] bartkummel commented on #19
@mkistler We use `uuid` quite often in [OpenTripModel](https://opentripmodel.org), see for yourself in [our sources](https://github.com/opentripmodel/opentripmodel). I see the point you're making. But the fact is, you are stricter than the OAS standard. There is value in that, for sure. But there are also many use cases where that's simply too strict. Would it be an idea to introduce two modes of

[2019-05-31 12:19] mkistler commented on #19
@bartkummel I think we'd be open to a configuration option for this.  That might be tricky to design in a general manner, but we could start with something that enables your use case and grow it from there as needed.

Maybe a configuration like:
[code]

Another option is to disable the `invalid_type_format_pair` rule altogether, but I'm guessing you want to keep that rule on for its benefits in ca

[2019-05-31 12:38] bartkummel commented on #19
@mkistler Exactly. I've disabled the rule for now, but it would be nice to have something like you suggest.

[2019-05-31 14:19] #38 closed

[2019-05-31 14:21] dpopp07 commented on #38
:tada: This issue has been resolved in version 0.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-31 14:22] #40 closed

[2019-05-31 15:38] #43 closed

[2019-05-31 15:41] dpopp07 commented on #43
:tada: This issue has been resolved in version 0.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-31 17:21] aspear opened #48 "Add build of native binaries for Linux, Mac, and Windows to remove node requirement for clients"
I was looking at the awesome Spectral JSON validator project https://github.com/stoplightio/spectral, and noticed that their build creates native binaries for Linux, Mac, and Windows.  These native binaries can then be used for validation on the respective client machines without requiring users to install node.js.  This seems like it could enable more widespread usability of lint-openapi.

It app

[2019-05-31 21:19] aspear opened #49 "Ability to manually specify a path to a configuration file"
Right now the default behavior of lint-openapi is to search in the working directory for .validaterc and then search in parent folders.  It would be convenient for automation use cases to be able to specify a particular config file explicitly, e.g.

[code]

In this use case .validaterc would be completely ignored and only the specified file would be loaded.

I have a PR ready to go with this imple

[2019-06-03 21:40] aspear commented on #48
The comment I put in before about yarn is incorrect.  I didn't understand that actually the tool that was doing the work of packaging was in fact "pkg" ,. https://github.com/zeit/pkg.

[2019-06-04 14:32] #49 closed

[2019-06-04 14:39] dpopp07 commented on #49
:tada: This issue has been resolved in version 0.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-04 14:45] #39 closed

[2019-06-04 14:46] dpopp07 commented on #39
:tada: This issue has been resolved in version 0.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-04 16:11] apestov opened #53 "Path with dot: Cannot read property '$ref' of undefined"
##### VERSION
ibm-openapi-validator: 0.9.1

##### SUMMARY
Validator fails with `Cannot read property '$ref' of undefined`  on path with dot and requestBody like:
[code]

##### STACK TRACE
[code]

##### STEPS TO REPRODUCE
1. Create `example.yaml`
[code]

2. Launch validator
[code]

##### Expected result
ibm-openapi-validator will not fail.

##### Additional info
If remove the dot from the path, the

[2019-06-04 16:13] #48 closed

[2019-06-04 16:15] dpopp07 commented on #48
:tada: This issue has been resolved in version 0.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-04 16:16] dpopp07 commented on #53
@apestov Thanks for the issue, I will look into getting this fixed

[2019-06-04 16:28] apestov commented on #19
What do you think if extract to config all type+format pairs? Like
[code]
That way it may reduce the corresponding switch, e.g.:
[code]

[2019-06-04 18:53] aspear opened #55 "Problem finding configuration file passed in explicitly"
It appears that the implementation of findUp that is used to find/validate the configuration file cannot be passed path information as a part of the file name.  Doing so results in redudantly prepending the path to the returned file path.  As a result the --config option does not work as implemented unless the path passed in only has a file name and is located in the current directory.

PR with fi

[2019-06-04 19:00] dpopp07 commented on #55
Hmm that's interesting, I thought I tested that out properly before I suggested it. What's an example of a filename that would break it?

[2019-06-04 19:10] aspear commented on #55
If you pass in only a filename to --config and that file happens to exist in the current working directory or above it, it will work.  If you pass a full path in a different tree, you see the issue.  e.g.

aspear@aspear-ubuntu:~/oss/openapi-validator
$ node ./src/cli-validator --json --config /home/aspear/repos/rest-api-standards-tool/docs/my-config.json /home/aspear/repos/rest-api-standards-tool/

[2019-06-04 19:19] dpopp07 commented on #55
Oh I see it now, that's bizarre. I guess I forgot to try out an absolute path. That's my my mistake! Thanks for catching it

[2019-06-04 19:45] aspear commented on #55
Bah @dpopp07 don't merge this yet, I messed up the commit.

[2019-06-04 19:47] aspear commented on #55
OK, the PR is fixed now.  somehow when I was cleaning/linting the change I managed to miss a line.

[2019-06-04 22:26] #55 closed

[2019-06-04 22:34] dpopp07 commented on #55
:tada: This issue has been resolved in version 0.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-05 07:01] bartkummel commented on #19
@apestov I assume your example is the default then? So we can add e.g. `uuid` to the `string` list in our own configuration file? Sounds good to me!

[2019-06-05 21:25] #53 closed

[2019-06-05 21:28] dpopp07 commented on #53
:tada: This issue has been resolved in version 0.10.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.10.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-06 12:02] apestov commented on #19
@bartkummel It's more like a proposal that may (or may not) feet the openapi-validator project approach.
@mkistler @dpopp07 What do you think? If it sounds ok I can try to prepare a PR.

[2019-06-06 12:04] bartkummel commented on #19
@apestov Sure, that's how I interpreted it.

[2019-06-06 13:35] mkistler commented on #19
I think I would prefer an approach that only _extended_ the list of allowed type+format values.

There is a well-defined set of type+format pairs in the spec, and I don't see any value in generating messages for any of these. So a design that would let the user (in all likelihood unintentionally) drop these from the "allowed" list only creates an opportunity for people to shoot themselves in the f

[2019-06-06 16:57] apestov commented on #19
That make sense.
Yes, the question would be there a case (project) that would like to have more strict restrictions than linter has by default at the moment or will have by default in some future versions?
It probably could be imagined that some project would like to allow only `int64` with no  `int32`  for integer format, while I don't have a particular case for.

[2019-06-10 12:12] apestov commented on #29
Just would like to confirm the original problem statement with relative paths refs.

Version: ibm-openapi-validator-0.10.2

| Launch option | Execution result |
| - | - |
| `$ npx lint-openapi subdir/main.yaml` | :x: <br> [Error] There is a problem with the Swagger.<br>Error opening file "C:\example\schema.yaml<br>ENOENT: no such file or directory, open 'C:\example\schema.yaml |
| `$ cd subdir &&

[2019-06-10 15:26] dpopp07 commented on #29
@dhudlow @apestov I am going to look at this issue this week

[2019-06-15 15:28] dpopp07 commented on #29
Update: I identified the source of this issue. There are some challenges to work out but I hope to have a fix out sometime this coming week

[2019-06-18 10:41] jamescooke commented on #19
Could someone point me at a doc or give a pointer as to the best openapi v3 way to define fields as UUIDs using the standard "5 groups separated by hyphens, in the form 8-4-4-4-12 for a total of 36 characters" format so that the "Property type+format is not well-defined." error is not raised? Is this possible right now in Openapi v3?

[2019-06-18 12:05] mkistler commented on #19
You could use a `pattern`. [This StackOverflow post](https://stackoverflow.com/questions/136505/searching-for-uuids-in-text-with-regex) recommends a number of different regex's that describe UUIDs.

[2019-06-18 12:08] jamescooke commented on #19
Thanks @mkistler - I completely missed that in the Swagger docs here: https://swagger.io/docs/specification/data-models/data-types/#pattern

[2019-06-18 14:34] #29 closed

[2019-06-18 14:36] dpopp07 commented on #29
:tada: This issue has been resolved in version 0.10.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.10.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-26 11:27] rafalbigaj commented on #22
@SamerJaser96 is there any progress on this issue?
We face this problem as well. It's quite dangerous for us to turn off checks for all parameters.

[2019-06-26 11:33] rafalbigaj commented on #22
I found another workaround. The validator does not report errors when "parameters" property refs to the named schema.

[code]

[2019-06-26 15:59] SamerJaser96 commented on #30
Changes to the validator are being made to handle this issue, should be done soon.

[2019-06-26 17:45] jamescooke opened #71 "File unexpectedly passes validation - should complain about arrays in response"
Am running v0.12.0 installed inside a Node 12.4 Docker container.

Given the following openapi v3 spec:

[code]

This defines the response of `POST /things` to be an array of empty objects.

## Current behaviour

The file above passes the validator with all operations post, put, patch, delete, head, options, and trace - it only fails when 'get' is used.

It also passes when imaginary operations ar

[2019-06-26 17:53] dpopp07 commented on #71
@jamescooke Thanks for the issue. This is certainly a bug and I will look into it this week.

[2019-06-26 18:07] jamescooke commented on #71
@dpopp07 Thanks for confirming :+1: It's been driving me a bit crazy this afternoon.

[2019-06-26 19:43] SamerJaser96 commented on #22
Yes I am currently working on this issue, should have a solution implemented soon.

[2019-06-28 15:24] dpopp07 commented on #71
Resolved in #73

[2019-06-28 15:24] #71 closed

[2019-07-01 10:20] jamescooke commented on #71
@dpopp07 Thanks for the quick fix on this. Just tried with v0.12.2 and it's raising errors as expected :+1:

[2019-07-02 11:22] jamescooke opened #77 "Unable to turn up "schema $refs must follow this format" warning to error"
Am running v0.12.2 installed inside a Node 12.4 Docker container.

I'm getting a very helpful warning which looks like this:

[code]

This warning has been very helpful because it helped me debug why a build with our testing team was failing. In order to get this check done early before builds go to our testing team, I'd like to turn this warning up to error - but I can't find the config for that.

[2019-07-02 13:43] dpopp07 commented on #77
@jamescooke Thanks for this issue. Off the top of my head I would have thought that this check was configurable but looking at the code, I see that it is not.

We were actually just discussing making this check an error by default yesterday morning. Whatever we decide there, this should be a configurable check. I will look into addressing that this week

[2019-07-04 13:15] #77 closed

[2019-07-04 13:17] dpopp07 commented on #77
:tada: This issue has been resolved in version 0.12.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.12.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-08 10:21] jamescooke commented on #77
@dpopp07 Thanks for another quick fix :+1:  Can confirm is working for me now.

[2019-07-15 16:08] #30 closed

[2019-07-17 16:03] dpopp07 commented on #22
Fixed in #83

[2019-07-17 16:03] #22 closed

[2019-07-26 13:40] daareiza commented on #30
Thanks guys!!!

[2019-08-12 17:30] jamescooke opened #98 "File unexpectedly passes validation - should complain about arrays in response or undefined type"
Am running v0.13.3 installed inside a Node 12.4 Docker container.

Given the following openapi v3 spec:

[code]

This example file is very closely related to the example in #71 - but I've removed the `type: array` specification from `ThingsArray`. This is a little bit of a grey area I guess since the openapi file is not explicit about the type of `ThingsArray`, however, the Swagger Editor renders

[2019-08-12 20:58] dpopp07 commented on #98
Hmm yeah that's an interesting one. Neither would be tough to add and I agree that this should probably be flagged somehow. I'm inclined to lean towards treating the schema as an array due to the presence of the `items` property, rather than flagging the missing type, but I'm not sure.

@mkistler what do you think?

[2019-08-13 22:59] mkistler commented on #98
I won't advocate this as a general rule, but in this particular case, I think we should treat a schema with `items` as being an array.

[2019-08-14 18:38] dpopp07 commented on #98
@jamescooke If you agree with that, I can implement that fix this week

[2019-08-15 10:05] jamescooke commented on #98
@dpopp07 @mkistler Thanks for reviewing this issue. I'm happy with treating this as an array and giving the "Arrays MUST NOT be returned as the top-level structure in a response body." error 👍

[2019-08-20 01:43] tbenda-SEL opened #100 "Validator fails unexpressively when $ref appears in invalid location"
Using `lint-openapi` version `0.13.3`

When a ref appears as a direct child of either the `paths` element or a given path in the `paths` element (two illegal positions) rather than failing with a useful error message, it exits with:

Minimal reproduction pair here:

derp.yaml
[code]

yarp.yaml
[code]

It would be more helpful if it failed with a message reflecting that the location was illegal, th

[2019-08-20 01:49] tbenda-SEL opened #101 "Validator blows up with message `thing.parameters.map is not a function` when "allOf" appears as the first child of a parameters block"
Using `lint-openapi` version `0.13.3`

When an `allOf` appears (apparently illegally) as the first child of a `parameters` block on a path operation, rather than failing with a useful error message, it exits with:

A yaml file that (minimally?) reproduces the issue is here:

herp.yaml
[code]

It would be preferable that it would fail with a message reflecting that the usage was unexpected or illeg

[2019-08-20 16:18] dpopp07 commented on #100
@tbenda-SEL I agree, the validator should be able to catch that as an error, report in, and continue with validation. I'll look into it, thanks for reporting

[2019-08-20 16:25] dpopp07 commented on #101
@tbenda-SEL Also agreed, the validator should be able to continue processing this.

FYI, this is illegal because `allOf` is a property of JSON Schema and is only allowed in an OpenAPI definition when describing a schema. The `parameters` object in an operation must be an array of parameter objects or $refs. You may have known that, just wanted to be complete 🙂

Thanks for posting

[2019-08-21 00:19] tbenda-SEL opened #102 "Validator errors with `Cannot read property '$ref' of undefined` where PathItem's $ref has a requestBody property"
A little more exotic one this time, but this one I believe is explicitly legal in the spec.

The below terminates with:

yarp.yaml
[code]

yarp-post.yaml
[code]

This behavior can be turned on and off by omitting the requestBody.

[2019-08-21 18:25] dpopp07 commented on #102
I would actually say that it is illegal in the spec according to [the definition of an operation object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#operationObject) - there is no `$ref` field allowed after `post`. It's interesting that the behavior can be turned off by just removing the request body. Either way, I agree that a crash is not appropriate here. Thanks f

[2019-08-21 18:41] tbenda-SEL commented on #102
Hi, just to clarify: the `$ref` is in the PathItem object, not the [Operation](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#path-item-object) object, which does have a `$ref` child.

[2019-09-02 16:52] jamescooke commented on #98
Thanks :+1: - can confirm this is working great in v0.13.5 https://github.com/IBM/openapi-validator/releases/tag/v0.13.5

[2019-09-09 13:57] croomes opened #105 "Allow upper case acronyms in camel case validator"
We are using openapi-validator on an api that conforms to the [Kubernetes API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#naming-conventions).

The `lower_camel_case` validator is close but it doesn't allow acronyms such as `UserID` or `IPAddress` to be capitalised, so this convention fails:

This could be solved in a few

[2019-09-09 15:38] #101 closed

[2019-09-09 15:40] dpopp07 commented on #101
:tada: This issue has been resolved in version 0.13.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.13.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-09 16:21] dpopp07 commented on #105
@croomes Thanks for the issue. I don't want to amend the existing expressions but I think Option 2 sounds good. I think a more descriptive annotation than "loose" might be preferable but I can't think of anything else at the moment so I defer to your opinion there.

It would be great if you could submit a PR!

[2019-09-10 15:28] #105 closed

[2019-09-10 15:30] dpopp07 commented on #105
:tada: This issue has been resolved in version 0.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 21:50] jormaechea opened #108 "Multiple scheme security requirement should be allowed"
https://github.com/IBM/openapi-validator/blob/0c0b39c3f83f14f4213afa5eb62a5076d0f1f9d6/src/plugins/validation/2and3/semantic-validators/security-ibm.js#L60-L75

According to the [standard](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#security-requirement-object):

You're checking that each Security Requirement Object contains only one scheme, and setting a _non-config

[2019-10-02 21:58] dpopp07 commented on #108
@jormaechea Thanks for pointing this out - this does look like a mistake. To answer your question, yes, we are happy to review PRs so feel free to open one!

[2019-10-02 22:03] jormaechea commented on #108
@dpopp07 Great! I'll tackle it this week and get back to you!

[2019-10-04 16:52] #108 closed

[2019-10-04 16:54] dpopp07 commented on #108
:tada: This issue has been resolved in version 0.15.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.15.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-21 13:18] dkirrane opened #110 "[Feature Request] Docker Image to run openapi-validator"
Is there a Docker Image to run openapi-validator? (Similar to `openapitools/openapi-generator-cli`)

[2019-10-29 13:33] jamescooke commented on #110
Hi @dkirrane - I'm not officially connected to the project, but I've got a public docker container on gitlab here: https://gitlab.com/jamescooke/ibm-openapi-validator-docker

I was *just* looking at moving that container to docker hub, but my guess would be that it would be best if it was shipped there under the [IBM verified publisher account](https://hub.docker.com/publishers/ibmcorp).

Am happy

[2019-10-30 18:20] dpopp07 commented on #110
@jamescooke if you have a public container already, I would be more than happy for you to move it to Docker Hub and just have a community Docker image for the validator.

[2019-11-20 20:44] dpopp07 commented on #110
@jamescooke Is the image in Docker Hub? If so, I'll close this issue

[2019-11-21 11:23] jamescooke commented on #110
@dpopp07 Not yet, sorry :disappointed:

While writing this, I spotted that @dkirrane has created a public image here: https://hub.docker.com/r/dkirrane/ibm-openapi-validator - maybe that's a good enough reason to close this issue?

[2019-11-21 15:23] dpopp07 commented on #110
Ah yes, that sounds good to me.

@dkirrane as the OP if you're after a different solution, feel free to re-open. I'm going to close for now

[2019-11-21 15:23] #110 closed

[2019-11-26 13:16] jamescooke opened #117 "Request for a higher order error for bad "type""
Am running v0.15.2 installed inside a Node 13.2.0 alpine Docker container.

Given the following openapi v3 spec:

[code]

There is a problem on the last line `type: thing`.

## Current behaviour

When editing this file in the latest Swagger editor at http://editor.swagger.io/ the following error is shown:

![Screenshot from 2019-11-26 12-44-55](https://user-images.githubusercontent.com/781059/6963

[2019-11-27 14:30] dpopp07 commented on #117
Having an independent error for an invalid `type` seems like a good idea to me, I will look into this soon!

[2020-01-14 18:27] SidneyJiang opened #121 "Seemingly unreasonable lower_snake_case case convention on component properties"
The component section the the APIdoc describes either what the request payload looks like or what the response payload looks like.

Different team defines the payload properties differently.  As in our pipeline,  the payload properties always follow Camel case convention.
So they look like the followings:
[code]
or
[code]

As a result, when we use validator to validate our apidoc: https://dev.cons

[2020-01-14 18:49] dpopp07 commented on #121
@SidneyJiang We understand that different users may have different needs for case conventions, so the convention validated for is configurable. See the [configuration documentation](https://github.com/IBM/openapi-validator#configuration) to learn how to configure the tool to use your own case convention.

[2020-01-14 18:53] SidneyJiang commented on #121
@dpopp07 I wonder if I change the configuration file,  how should I serve my `.validaterc` file to make sure there's no issue when generating sdk(I don't know how)

[2020-01-14 18:58] dpopp07 commented on #121
As long as the file exists in the folder you are running the command from (or in any parent folder), you should have no issues

[2020-01-14 19:00] SidneyJiang commented on #121
Also I looked at the linked you pointed me, I can't figure out how can I just turn off lower_snake_case for `components` . Could you also point me an example for exactly what I need?

[2020-01-14 19:11] dpopp07 commented on #121
It looks like what you need is to set `property_case_convention` to  `[ 'error', 'lower_camel_case']`.

The relevant documentation is [here](https://github.com/IBM/openapi-validator#schemas-1) and an example is [here](https://github.com/IBM/openapi-validator/blob/master/src/.defaultsForValidator.js#L66).

[2020-01-14 19:29] SidneyJiang commented on #121
Thank you very much, I will close this issue

[2020-01-14 19:29] #121 closed

[2020-01-30 14:22] martinsirbe opened #125 "Unexpected $ref warning when a definition is declared and used once"
Validator v0.17.0 with the following v3 OpenAPI specification:
[code]

I see the following warning:
[code]

I'm trying to understand whether this is a valid warning, as based on the ["Using $ref"](https://swagger.io/docs/specification/using-ref/) documentation:

it seems that `$ref` was introduced to follow DRY principle, however in this case I can't see the validity of this being a warning as the

[2020-01-30 15:53] jamescooke opened #126 "Required value for `openapi` or `swagger` is not checked for existence or value"
## Context

In version 3 of OpenAPI, the field `openapi` is required in the root object as per the spec: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#fixed-fields

In version 2, the field `swagger` is required as per the spec: https://swagger.io/specification/v2/#fixed-fields

However, the validator does not check that these fields are provided, nor does it check thei

[2020-01-30 17:13] dpopp07 commented on #125
At IBM, we use OpenAPI definitions to generate SDKs. One of our primary use-cases for this tool is to ensure that an API definition is fit for SDK Generation (the higher quality the API definition, the higher quality the generated SDK).

This warning you've run into is one that we've added specifically for that purpose. Using a `$ref` for a response provides us with a meaningful name we can use fo

[2020-01-30 17:18] dpopp07 commented on #126
This is certainly very clear in the spec so I think these would be reasonable changes to make! Thanks for the issue

[2020-01-31 11:23] martinsirbe commented on #125
Thanks @dpopp07 for detailed clarification, this totally makes sense to me. It would be great if this could be documented, to mention that the usage of `$ref` is to achieve a better data model naming when generating SDKs instead of definition reusability.

[2020-01-31 15:13] dpopp07 commented on #125
That's a fair request, I will update the README to reflect this.

[2020-02-05 19:47] bvanhav opened #131 "operationIds validation incorrectly handling sub-resources"
**Issue Type:** bug

**Validator Version:** v0.17.0

**Issue:** When I have a sub-resource in my spec (example path `/resource/{resource-id}/sub-resource`) the validator does not validate the operationId correctly. In this case I would expect a POST /resource/{resource-id}/sub-resource to allow an operationId of `create_resource_sub_resource` (or similar), but the validator raises a warning unless

[2020-02-05 21:20] dpopp07 commented on #131
@bvanhav Thanks for bringing this up, someone on our team will work on it soon.

[2020-02-11 17:43] daareiza opened #135 "PR#127 not handling $ref for non-204 statutes"
Seems like #127 is not handling correctly responses that references a response in the components node, so it is throwing invalid warnings.

Example:

[code]

[2020-02-11 17:57] dpopp07 commented on #135
@daareiza Good catch, thanks for opening the issue. We will get on this

[2020-02-11 21:54] dpopp07 commented on #135
Resolved in #136

[2020-02-11 21:54] #135 closed

[2020-02-11 22:06] daareiza commented on #135
@dpopp07 @barrett-schonefeld thanks for the quick fix!!!

[2020-02-12 15:52] SaltedCaramelCoffee commented on #131
This issue is fixed in https://github.com/IBM/openapi-validator/pull/133, closing.

[2020-02-12 15:52] #131 closed

[2020-02-13 17:45] Cameron-Kurotori opened #138 "Invalid regular expression: /^(update[a-zA-Z0-9_]+/: Unterminated group"
We are running the openapi linter on our spec with version 0.19.1 and are receiving the following error:
`Invalid regular expression: /^(update[a-zA-Z0-9_]+/: Unterminated group`

https://github.com/IBM/openapi-validator/commit/c44f2fa#diff-803dc7e3acbb8f254a803b9018a83a71R115

May be missing a `)`

[2020-02-13 17:49] dpopp07 commented on #138
@Cameron-Kurotori Thanks for the issue!

@SaltedCaramelCoffee - will you take a look at this?

[2020-02-15 23:04] jamescooke commented on #110
An updated, semi-auto-building, slim container is now up on Docker hub: https://hub.docker.com/r/jamescooke/openapi-validator

I've only just spotted that it's possible to compile a binary with `npm run pkg` - so it might be possible to make future improvements to this container in terms of reduced size, speed.

[2020-02-17 16:18] SaltedCaramelCoffee commented on #138
@dpopp07 The fix for this bug is included in https://github.com/IBM/openapi-validator/pull/137. Can you review and approve it?

[2020-02-17 16:38] SaltedCaramelCoffee commented on #138
@Cameron-Kurotori The fix has been released and is part of v0.20.0 of the openapi-validator. Thanks again for reporting it. Please let us know if you found more issues.

[2020-02-17 16:38] #138 closed

[2020-02-17 16:55] #126 closed

[2020-02-18 03:58] Cameron-Kurotori commented on #138
Thank you! Much appreciated :)

[2020-02-25 17:27] #117 closed

[2020-02-25 17:32] dpopp07 commented on #117
:tada: This issue has been resolved in version 0.24.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.24.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-26 09:01] fenuks opened #148 "Configurable operationId naming convention"
#124 adds linting naming conventions for `operationId`, but apparently, there is no option to disable it, or change which verbs are in convention, e.g. in my case I would like to use `search` verb instead of `list` when GET endpoint has parameters, since in my API, it's always a search operation.

openapi-validator version: 0.24.0

[2020-02-26 20:29] dpopp07 commented on #148
@fenuks There should certainly be a way to disable it. If that is not currently implemented, we will fix that.

As for custom verbs, that would require more effort and we may not be able to prioritize that at the moment. We can look into it though.

[2020-02-27 13:20] fenuks commented on #148
Thank you, of course it's understandable that custom verbs is not something that is highly needed, especially that current ones work for you.

As for disabling this rule, I believe there is no possibility now, there is no mention in documentation about it, beside that I quickly skimmed through code, and to my understanding, there is no switch to turn checking off.

[2020-02-27 14:51] dpopp07 commented on #148
I confirmed that you are correct - there is no way to configure this option. This needs to be fixed soon. @barrett-schonefeld @presto21 will one of you take on this issue?

[2020-03-05 21:43] #148 closed

[2020-03-10 14:46] marklindell opened #153 "Support extensible async plug-in validations (outside of the code base)"
I would like to be able to add my custom rules validations outside of the code base. Right the only option is to add it to the code base and modify the .defaultsForValidator.js  I also need to use async functions from third party libraries in my custom validations (such as the wordpos library). This is not possible without the design supporting async validators.

[2020-03-18 23:01] gamezfreak opened #155 "Unable to set default value to null"
Hi,

First off, I love the linting capabilities of this project, it is so much more valuable than just straight spec validation to ensure consistent API conventions and encourage strong documentation within the spec.

My project uses null values to indicate a property has never been configured and many properties default to null if not set.

When I run validation on my schema file I'm getting erro

[2020-03-23 15:52] dpopp07 commented on #155
Glad you are enjoying this tool! Looking at the spec, you are indeed correct and we should support that use case. I will look into it soon. Thanks for reporting!

[2020-03-24 02:39] mkistler commented on #155
I think simply omitting `default` is equivalent to `default: null`. Is there some reason this isn't sufficient?

[2020-03-25 21:27] gamezfreak commented on #155
@mkistler I tried removing the `default: null` parameter but that also causes "default: null" to be removed from the documentation I am generating with redoc.  I'd prefer that to be explicit in my documentation that it will be null and not an empty string when unspecified.  Maybe that is an issue there as well in their project, but I think the OAS 3.0.3 clarification on nullable would still allow

[2020-04-05 21:26] i-sinister opened #157 "Invalid error 'Null values are not allowed for any property' message."
walker-ibm returns 'Null values are not allowed for any property' for the following property definition:
[code]
The intentions is to give explicit default value for the nullable property. Nullable properties  [are supported in OpenApi 3.0](url).

src/plugins/validation/2and3/semantic-validators/walker-ibm.js line 51 says:

which seems to not be quite correct.

[2020-04-05 21:27] i-sinister commented on #157
Sorry, its duplicate for #155

[2020-04-05 21:27] #157 closed

[2020-04-10 03:57] Klaus-Nji-sp opened #158 "Please provide a property to retrieve validated document model"
The output of the validator only returns errors and warnings but does not return the document model.  This could be particularly useful if the document had external references which needed to be resolved.

Would it be possible to expose a property which returns the final and possibly exploded validated document model?

[2020-04-13 14:50] dpopp07 commented on #158
I'm not sure I quite understand what you're asking for here. What do you mean by document model?

[2020-04-13 19:29] Klaus-Nji-sp commented on #158
A file containing the OpenAPI spec was read and its references were resolved for validation to have been performed I am suspecting.  This is the document model I am referring to.  As a consume of this API can I get a hold of this model?

Use case is:  I have run a spec through your validator.   I will like to see how the external references were resolved and what the final output looks like.  It w

[2020-04-13 19:51] dpopp07 commented on #158
Okay, I understand. This feature can be added. Are you using this tool on the command line or as a Node module?

If on the command line, would you want the result written to a new file?

[2020-04-13 20:13] Klaus-Nji-sp commented on #158
In a Node module.

[2020-04-13 20:27] dpopp07 commented on #158
Great. That certainly makes sense to add. I will try to do that soon

[2020-04-13 21:18] Klaus-Nji-sp commented on #158
Muchly appreciated. Thank you.

[2020-04-16 05:53] giiita opened #160 "The rules for operation_id should allow for hyphens."
https://github.com/IBM/openapi-validator/blob/8da9d37e561e806cd43495b4b0440eb23ab9cf44/src/plugins/validation/2and3/semantic-validators/operation-ids.js#L76

The operation id check allows "\w", except for the prefix, but some openapi editors use hyphenated joins by default. For example, [spotlight studio](https://stoplight.io/studio/).

For strict validation, all valid checks should be Error, but

[2020-04-17 06:27] evertonmc opened #163 "Validate Response status codes to be 3 digit"
HTTP status codes are supposed to be [3 digit ](https://tools.ietf.org/html/rfc7231#section-6) and and it gets through the validator

i.e
[code]
autorest validates to
"Parsing error(s): Property '0' has not been defined and the schema does not allow additional properties. Path 'paths['/plans'].post.responses.0',

[2020-04-17 16:09] dpopp07 commented on #163
I agree, this should be caught. Thanks for the issue, we will look into it.

[2020-04-28 08:27] nrail-joerg-walter opened #166 "Bug: A path parameter under root node AND under the method node leads to crash / internal error"
Code:

`  /xs/{xId}:
    parameters:
      - $ref: '#/components/parameters/xIdParameter'
    patch:
      description:
        Updates an x.
      summary: Update x {xId}
      tags:
        - xs
      parameters:
        - $ref: '#/components/parameters/xIdParameter'
      operationId: updatex
      x-eov-operation-handler: routes/xs
      responses:
        200:
          description: Successfu

[2020-04-29 12:48] nrail-joerg-walter opened #167 "Bug: A property named "isA" yields a format error when camel case is selected"
A property named "isA" seems to conform to camel case rules but it is flagged as not conforming.

[2020-04-30 19:45] dpopp07 commented on #166
Thanks for the issue. I'm going to look into this ASAP

[2020-04-30 19:49] dpopp07 commented on #167
Thanks for the issue. I think I agree that should be acceptable camel case. I'll need to change our regex that we use to determine conformance.

[2020-05-04 15:28] dpopp07 commented on #166
Resolved with #168

[2020-05-04 15:28] #166 closed

[2020-06-16 16:14] jormaechea opened #170 "Config unused_tag is confusing"
Shouldn't be it `undefined_tag`? Because that's what that config checks:

IMO, `unused_tag` could be a new rule that performs the following check:

What do you think? I know it's a breaking change, but you're still in v0.x.x..

[2020-06-19 19:32] dpopp07 commented on #170
@jormaechea thanks for opening the issue. I think you're right about that and since we're still technically in "pre-release" I'm not opposed to making a breaking change.

Is this something you could open a PR for? I'm having trouble prioritizing this tool at the moment but I would be happy to review a PR.

[2020-06-20 01:15] jormaechea commented on #170
Sure, I’ll let you know when it's ready!

[2020-06-23 18:31] georgekamel opened #172 "Add option in .validaterc to override unused definition warning"
I notice that there is no option in .validaterc to override the warning: "Definition was declared but never used in document". Is there any chance this could be added as an option?

[2020-06-23 18:47] dpopp07 commented on #172
You're right about that. This is a fairly minor warning so I agree it should be configurable.

Is there any way you could open a PR for this? If not, I should be able to get to it within a couple of week.

[2020-06-25 02:35] mkistler commented on #172
This is a check that is inherited from the open-source code we used as a base for the validator, and none of those checks were configurable.  But I agree that it would be nice to be able to turn this off, so we'd welcome a PR for this.

[2020-06-26 14:35] jormaechea commented on #170
@dpopp07 we should close this, right?

[2020-06-29 13:51] dpopp07 commented on #170
Yep, thought I already had. Thanks for the reminder!

[2020-06-29 13:51] #170 closed

[2020-07-02 15:14] martinfrancois opened #173 "Official OpenAPI specification examples fail validation?"
When I run the files from the [official OpenAPI Specification 3.0 examples](https://github.com/OAI/OpenAPI-Specification/tree/master/examples/v3.0) through the validator, using the following command:
[code]
I would expect the validator to not return any errors. However, all of them except for `api-with-examples.yml` return errors. I mean sure, there could be errors in there as well, but from a few

[2020-07-02 17:10] dpopp07 commented on #173
@martinfrancois you are not doing anything wrong! This tool was extended beyond simply enforcing the OpenAPI specification and has a number of rules to also enforce adherence to IBM's internal API design guidelines. That was the original purpose of the tool.

We recognize that not everyone wants to follow this set of guidelines so any rules that go beyond the OpenAPI spec should be configurable an

[2020-07-02 17:10] #173 closed

[2020-07-23 19:52] distortedsignal opened #179 "Maximum call stack size exceeded"
My team is changing over to Open API 3.0 documentation from RAML, and I'm trying to build up a linter from this tool. Our API is (fairly) complex and our data structures are deeply nested. I recently ran into an issue where one of our *.json files couldn't be linted because of a limit on the size of the callstack.

### Local information
Installed via `npm` with the `-g` flag.

In the directory tha

[2020-07-23 20:03] distortedsignal opened #180 "Cannot read property 'type' of null when linting OpenAPI files"
I'm the same guy from [this issue](https://github.com/IBM/openapi-validator/issues/179), this is a problem with a different Open API file.

----

My team is changing over to Open API 3.0 documentation from RAML, and I'm trying to build up a linter from this tool. Our API is (fairly) complex and our data structures are deeply nested. I recently ran into an issue where one of our *.json files couldn

[2020-07-24 13:39] mkistler commented on #179
It looks like the error is in performing a regex on a URL, probably from a $ref (since the bottom of the stack is `json-schema-ref-parser`.  So my guess is that you have a $ref somewhere in your doc that causes the regex engine to run off the rails.  On that theory, I'd start by just examining all the $refs in the doc to see if any looked "strange".  Or perhaps you can trap at the point of the fai

[2020-07-24 13:57] mkistler commented on #180
At the point of this processing, I don't believe we have a filename to print.  This code is operating on a `resolvedSchema`, meaning a schema where references have already been resolved.

But there may be a clue that can help find the problem.  The code that failed looks like this:
[code]

The last line is the line that failed, attempting to reference `type` of `arrayItems`.  You see just above th

[2020-07-31 22:45] hudlow opened #181 "inconsistent_property_type is too aggressive, with no individual way to skip"
Especially where generic, context-sensitive property names are used, such as `code`, `inconsistent_property_type` property type can lead to false positives across unrelated schemas. I believe we ought to rethink how this check works, or provide a way to skip the check for specific properties.

[2020-08-05 20:59] cwgormanIBM opened #183 "What is the purpose of requiring `x-codegen-request-body-name`?"
This is one of the default rules, but I'm not sure what it is or does. From Googling, it looks like a holdover from a swagger generator tool?

[2020-08-05 22:01] dpopp07 commented on #183
This is actually a custom rule specific to our set of tools. One of the primary way this validator is used is to prepare API Definitions for SDK generation (using our internal SDK generator). We require the use of `x-codegen-request-body-name` because it results in drastically better generated SDKs.

This rule should be configurable, you should be able to turn it off if need be. Are you seeing tha

[2020-08-08 01:40] buptliuhs opened #184 "NPM audit issue (update-notifier)"
Update `update-notifier` to the latest version (4.1.0) to fix Prototype Pollution vulnerability in `dot-prop`.
[code]

[2020-08-10 16:54] #183 closed

[2020-08-10 16:59] dpopp07 commented on #184
Closed in #185

[2020-08-10 16:59] #184 closed

[2020-08-14 16:03] emlaver opened #188 "Property name in model schema is triggering the response validation"
We have a schema that contains `responses` property e.g.
[code]
I believe the `responses` property above is triggering the tool to run `responses` validation.  We get this error:
[code]

[2020-09-02 16:44] #188 closed

[2020-09-02 16:47] dpopp07 commented on #188
:tada: This issue has been resolved in version 0.29.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.29.3)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.29.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-22 08:36] meem opened #197 "Spurious errors when using `application/merge-patch+json` media type"
Our `PATCH` methods use JSON merge patch semantics -- i.e., `application/merge-patch+json` rather than `application/json`.  However, attempting to use that type results in the following error from the validator:

[code]

This appears to be due to `src/plugins/validation/oas3/semantic-validators/operations.js` having too narrow an understanding of JSON format.  Per https://tools.ietf.org/html/rfc68

[2020-09-22 21:25] #197 closed

[2020-09-22 21:37] dpopp07 commented on #197
:tada: This issue has been resolved in version 0.29.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.29.4)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.29.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-30 14:10] fenuks opened #199 "Relative path is not resolved correctly"
With version 0.30.0, compared to 0.29.4, openapi-validator regressed in way how relative paths are resolved.

I have following folder structure:
[code]
`api1.yml` and `api2.yml` files reference some definitions from `shared/common.yml`, e.g. responses `shared/common.yml#/components/responses/NoContent`.

If I run validator from other folder than `src/` then e.g. `lint-openapi src/api1.yml`, then e

[2020-09-30 14:23] dpopp07 commented on #199
@fenuks I'm surprised to see this, thank you for reporting the bug.

@jorge-ibm this may have to do with the Spectral integration - do you mind taking a look at it?

[2020-09-30 14:45] fenuks commented on #199
No problem. I'm using this program extensively, thank you for all hard work!

And I forgot to mention that running linter from the same directory where processed file is, naturally works as expected.

[2020-09-30 19:59] ChrisPhillips-cminion opened #200 "When running with Spectral rule not all non spectral warnings are returned"
I appreciate this is beta functionality.

When running the config in the zip against the api with out the spectral config I get the following

[code]

When I run it with the spectral in the zip I get the following

[code]
I would expect all the warnings in the first run to be present in the secondrun
[lint.zip](https://github.com/IBM/openapi-validator/files/5307964/lint.zip)

[2020-10-01 19:21] jorge-ibm commented on #200
@ChrisPhillips-cminion - This is an unintended effect of adding your own ruleset file. What we currently do is "override" our spectral ruleset with the custom one, and since your ruleset doesn't include the rules we defined https://github.com/IBM/openapi-validator/blob/master/src/spectral/rulesets/.defaultsForSpectral.yaml, they are not included in the call to spectral. A temporary fix is to just

[2020-10-01 19:22] jorge-ibm commented on #199
This issue should be fixed as part of this PR https://github.com/IBM/openapi-validator/pull/201

[2020-10-02 17:03] #199 closed

[2020-10-02 17:30] dpopp07 commented on #199
:tada: This issue has been resolved in version 0.30.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.30.1)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.30.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-05 13:41] rmkeezer commented on #200
With the new changes in this PR: https://github.com/IBM/openapi-validator/pull/202 The `.spectral.json` custom rules will be properly appended to the spectral ruleset and will show up as expected.

[2020-10-07 15:41] #19 closed

[2020-10-07 15:50] jorge-ibm commented on #179
hey @distortedsignal - are you still having issues with this?

[2020-10-07 15:52] dpopp07 commented on #181
The proposed solution here is to provide a list of values that we ignore this warning for. This could also be made configurable.

[2020-10-07 15:54] jorge-ibm commented on #44
We should evaluate the open pr that Barrett openend.

[2020-10-07 15:58] jorge-ibm commented on #153
@marklindell - we've recently integrated Spectral into our validator. Does this new integration meet your needs ?

[2020-10-07 17:00] distortedsignal commented on #179
Yeah - here's a recent run of the openapi linter to prove it:
[code]

I think there is an infinite recursion in the openapi docs (something like "resource1 contains a resource1"), but I would prefer to have the linter tell me where it is, as opposed to having to hunt through the docs by hand. I think that's probably how this issue should be read?

[2020-10-07 17:10] jorge-ibm commented on #179
thanks for clarifying @distortedsignal. Can you maybe provide the api definition files you encountered this issue in?

[2020-10-07 17:16] distortedsignal commented on #179
They're in a proprietary codebase - let me ask my boss if I can ship the full files. If I can't, I'll try to provide a redacted version of the files.

[2020-10-07 18:22] dpopp07 commented on #179
@distortedsignal There is code in the linter to recognize circular references, report them, and continue without crashing. Perhaps you have a special case that breaks that code but I am guessing that this is something else. Any API definition you provide for us to reproduce the problem, even if heavily reduced or redacted, would be appreciated. If you need to send something to one of our emails, r

[2020-10-07 18:25] distortedsignal commented on #179
Thanks @dpopp07 - I've contacted people who can make a decision on this and I'll get back to you when I have their decision.

[2020-10-07 18:26] dpopp07 commented on #153
@marklindell Specifically, Spectral allows you to define your own rules and your own functions. These Spectral-formatted rules can now be used with our validator. [Here is some documentation](https://meta.stoplight.io/docs/spectral/docs/guides/5-custom-functions.md#async-functions) for adding custom async functions with Spectral. We will have more documentation around the integration soon

[2020-10-08 20:17] distortedsignal commented on #179
Ok, I got permission from my boss to ship this code if all the fields were md5'ed. So here we go.

[output_dir.tar.gz](https://github.com/IBM/openapi-validator/files/5351093/output_dir.tar.gz)

My procedure here:

Unzip the tar'ed up dir:
[code]
`cd` into the newly created `test_dir` and look around.
[code]
`init` a new openapi environment
[code]
Run the linter.
[code]
Interestingly, we don't hit

[2020-10-09 08:04] Havunen opened #203 "Why All responses must include a description cannot be disabled?"
Hey,

Why validation rule for All responses must include a description cannot be disabled?
I cant find this being required in the Open APi 3 specification?

Code: https://github.com/IBM/openapi-validator/blob/4277079d2651ef8324dc76fb226033f19273aab6/src/plugins/validation/oas3/semantic-validators/responses.js#L54-L60

empty `""` -description gives error

[2020-10-09 16:27] dpopp07 commented on #203
Hi @Havunen, this rule is non-configurable because descriptions are required for Response Objects [in the OpenAPI 3 specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#responseObject).

This is the relevant snippet:

description | string | REQUIRED. A short description of the response. CommonMark syntax MAY be used for rich text representation.
-- | -- | --

[2020-10-10 06:58] Havunen commented on #203
Okay, thanks for the reply.

I found a way to filter out these errors for now, but yeah it makes sense If its required in the spec, thanks

[2020-10-10 06:58] #203 closed

[2020-10-13 11:15] laurentkvb opened #204 "Support for format 'email'"
Will there be support for `email` being supported for the `format` field?

Like described here it is an open value: https://swagger.io/docs/specification/data-models/data-types/

Or is there a way to include custom types as a valid `format` values?

[2020-10-13 15:12] jorge-ibm commented on #204
@mkistler - any thoughts on this issue? We currently throw an error if a user specified ``email`` as the format. Here's the official text from oas3:
[code]

[2020-10-14 15:51] mkistler commented on #204
There is a registry of "formats" to extend the OpenAPI spec here:

http://spec.openapis.org/registry/format/

But I don't see `email` in this list.

The intent of this warning in the validator is to flag any formats that are not "well-defined".  Is there some special behavior you are expecting from `format: email`?  If so, where is this defined?  If not, then is there any value in specifying this

[2020-10-14 16:14] mvasin commented on #204
Not sure what's the ultimate source of truth for the OpenAPI spec, but google takes me here: https://swagger.io/specification/#data-types

There's a table that lists the types, and that list doesn't mention email, but there's also the phrase

[2020-10-14 19:03] distortedsignal commented on #180
I was just about to tag somebody in the PR, but I see that there is activity on this ticket. I'll hold my peace for now.

[2020-10-14 19:49] dpopp07 commented on #180
@jorge-ibm was @mkistler going to work on this? If not, @distortedsignal, we would welcome the PR!

[2020-10-14 19:53] jorge-ibm commented on #180
Yes I think @mkistler was going to take a look, but I agree. @distortedsignal if you have a PR for this already please feel free to submit it

[2020-10-14 19:58] distortedsignal commented on #180
I sent a PR to add the path to the exception text. I figure this is the best way to report to the user that their OpenAPI spec is not valid is to point them to where the invalid spec is. Check out the PR here: https://github.com/IBM/openapi-validator/pull/190

[2020-10-15 06:53] Havunen opened #205 "Question: Why allowed number formats does not have decimal?"
Hi,

I'm trying to make our Open API schema compatible with IBM open api validator and we get lots of errors about number format.

[code]

Is there some reason why decimal format is not accepted?

Example where validation fails.
[code]

in C# decimal is native type
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/floating-point-numeric-types

[2020-10-15 07:14] Havunen commented on #205
Sorry for the issue, found my answer from: https://swagger.io/specification/#data-types

[2020-10-15 07:14] #205 closed

[2020-10-15 08:39] laurentkvb commented on #204
@mkistler

From https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md &
https://swagger.io/specification/#data-types:

Would it be possible to have open values that can be accepted in some way (via a rule or as custom value that you can add to the list)? Because in the documentation it also suggest the following:  `Formats such as "email", "uuid", and so on, **MAY be used even

[2020-10-16 14:25] jorge-ibm commented on #200
This should now be fixed in v0.31.0 of the validator. Closing as fixed.
@ChrisPhillips-cminion - please let us know if you are still having issues

[2020-10-16 14:25] #200 closed

[2020-10-21 23:44] #160 closed

[2020-10-23 16:42] dpopp07 commented on #180
Resolved in #190

@distortedsignal Let me know if that PR doesn't fully resolve the issue. Thanks for the PR!

[2020-10-23 16:42] #180 closed

[2020-10-23 16:44] distortedsignal commented on #180
I think the PR resolves the issue _enough_. It will at least tell you where the data types are that are causing the issue. This is as much as can be asked for when dealing with faulty API documentation.

[2020-10-25 16:10] mkistler commented on #167
This is a tricky one.  The general issue here is how to treat words that are a single character.  In the example given, the single character word comes at the end, but it wouldn't have to -- what should be the camelCase for "is_a_dog"?  You might say that it should be "isADog", but this has two adjacent capital letters, which also fails our standard camelCase regex's.

Given that there are only tw

[2020-11-13 07:14] zcz3313 opened #206 "Can I turn off some validations?"
I don't want some validators work.
I tried to delete some keys and values in .validaterc file, but it doesn't work. The validator still check file using default value.
I use docker to do this job.

[2020-11-13 07:36] zcz3313 commented on #206
OK, I have found the way.

[2020-11-13 07:36] #206 closed

[2020-11-13 07:48] zcz3313 opened #207 "The working speed of validators is too slow"
I turned off all rules and run it, it cost 2 minutes!
My computer is unable to connect to internet, is this the reason of my problem?
how can i solve it?

[2020-11-13 07:49] zcz3313 commented on #207
I use docker.

[2020-11-15 18:59] ccampanale opened #208 "Additional Configurability"
First, thanks for maintaining this useful package!

I'm currently testing the use of this package as a library dependency in package that itself will be a dependency for several packages in a project I maintain. The only way I see to customize the configuration for the validator is by means of the `.validaterc` file which is unfortunately less than ideal for my use case.

I would like to override

[2020-11-16 02:23] zcz3313 commented on #207
I have solve it by run the docker with ' --network none'

[2020-11-16 02:23] #207 closed

[2020-11-16 14:33] dpopp07 commented on #208
Hey @ccampanale thanks for the issue. I agree, this use case isn't handled well at the moment and I like the idea of adding a way of programmatically specifying the config. I think there will be some additional caveats I'll need to consider and discuss with the team but I'll try and get back to you soon on this!

[2020-11-16 15:27] ccampanale commented on #208
Fantastic, @dpopp07 thanks for the response!
If you get an idea of the direction the team wants to go but don't have the cycles to implement, definitely let me know here. I might be able to get a PR started.

[2020-11-23 07:45] yishanhe opened #210 "case validation should provide an option to allow case to start with underscore("_")"
The example is as follow

[code]

[2020-12-01 20:27] sirosen commented on #155
To offer another motivating use-case for this: I'm generating an openapi spec from my schemas, and `default: null` is the output from my spec generation tool. So even if I wanted to remove `default: null`, it's difficult to do so in this case.

It would be nice to be able to disable this check altogether as a workaround, but I don't think that's supported by the config options.

[2020-12-03 15:36] jorge-ibm commented on #210
@hudlow - any thoughts on this issue ?

[2020-12-03 16:08] hudlow commented on #210
We would not consider this permissible in standard snake case, so if we supported this, it would need to be with an additional configuration option or as another casing variant, in my opinion. @mkistler, any additional thoughts?

[2020-12-06 02:23] yishanhe commented on #210
@hudlow I see your point and agree with that. need a casing variant that allow prefixing it with an underscore.

[2020-12-09 19:29] jorge-ibm commented on #181
Mirrored issue on sdk board: https://github.ibm.com/arf/planning-sdk-squad/issues/2375

[2020-12-09 19:30] #179 closed

[2020-12-09 19:34] jorge-ibm commented on #172
We should investigate if spectral has a rule for this.

[2020-12-09 19:36] jorge-ibm commented on #125
@dpopp07 ^^

[2020-12-09 19:41] jorge-ibm commented on #158
@Klaus-Nji-sp are you still needing this feature ?

[2020-12-09 19:43] #167 closed

[2020-12-09 19:44] jorge-ibm commented on #210
@yishanhe we recently added support to write your own custom rules using Spectral. I think this would be a good use case of a custom rule you can write.

[2020-12-09 19:46] jorge-ibm commented on #204
@mkistler ^^

[2020-12-20 20:07] mewalig opened #215 "Warning on non-empty tags, but tags are not required (openapi 3)"
Validating the following yields: Warning: OpenAPI object should have non-empty `tags` array.
[code]
However, a tags array is not required, per
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#oasDocument

Therefore, shouldn't there be no warning, or at the least, a configuration option to suppress it?

[2020-12-20 20:11] mewalig opened #216 "Warning on non-empty servers, but servers are not required (openapi 3)"
Validating the following yields the following warning: OpenAPI `servers` must be present and non-empty array.
[code]
However, a servers array is not required-- and furthermore, specifically is contemplated as an empty array-- per:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#oasDocument

Therefore, shouldn't there be no warning, or at the least, a configuration option

[2020-12-20 20:16] mewalig opened #217 "Warning on valid server object"
Validating the following yields the following warning: Server URL should not have a trailing slash.
[code]
However, per https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#oasDocument:

which states:

a server object with a url value of `/` should be acceptable

[2020-12-20 20:21] mewalig opened #218 "Warning on tags without a description, but description is not required (openapi)"
Per https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#tagObject, tags require a name, but not a description.

It is useful nonetheless to optionally warn on no description.

Could you pls add a no_tag_description configurable option?

[2020-12-20 20:50] mewalig commented on #218
Please note that this element is neither required *nor recommended* and therefore while a validator warning could be helpful, it should be optional and the default configuration for it should be "off".  Same applies for #216 and #215.

Whereas for non-required but recommended elements, warnings should also be optional, but with a default configuration value of "on"

[2020-12-27 16:04] mkistler commented on #217
Fix submitted to upstream Spectral project:

https://github.com/stoplightio/spectral/pull/1427

[2020-12-28 15:04] dpopp07 commented on #215
Agreed, this is not ideal behavior. We will look into fixing it soon. In the meantime, if you feel inclined to open a PR - feel free.

[2020-12-28 22:41] mkistler commented on #153
I've updated our docs with information about how to add custom validations.  I believe this fully addresses your requirement.  If not, feel free to open a new issue describing what is missing.

[2020-12-28 22:41] #153 closed

[2020-12-28 22:56] mkistler commented on #215
The warning about tags comes from our integration with [Spectral](https://meta.stoplight.io/docs/spectral/README.md).  But all the Spectral rules are configurable and I have just added documentation that describes how to do this.

In this particular case, you can just create a `.spectral.yaml` file in the directory where you run the validator with the following content:
[code]

This will change th

[2020-12-28 22:56] #215 closed

[2020-12-28 23:02] mkistler commented on #216
This message can be suppressed or its severity changed in the Spectral configuration file `.spectral.yaml`.
[code]

[2020-12-28 23:04] #216 closed

[2020-12-28 23:31] mkistler commented on #218
With our new support for Spectral configuration ([Release 0.32.0](https://github.com/IBM/openapi-validator/releases/tag/v0.32.0)), you can create your own rule for this in the `.spectral.yaml` file.  I think something like this will do what you want:
[code]

[2020-12-28 23:31] #218 closed

[2020-12-30 22:44] mkistler commented on #210
Closing as this can now be accomplished with a custom Spectral rule.

[2020-12-30 22:44] #210 closed

[2020-12-31 14:30] mkistler commented on #44
Fixed in #44.

[2020-12-31 14:30] #44 closed

[2021-01-06 15:45] jorge-ibm commented on #217
@mkistler looks like your upstream PR was merged and released. Can we close this issue ?

[2021-01-06 17:23] mkistler commented on #217
To truly call this done, we probably want to update our Spectral dependency to ensure the fix is pulled in.  But I have a couple of other Spectral PRs open that I hope will be merged soon, so lets hold off for a few days and maybe get them all at once.

[2021-01-07 15:33] #125 closed

[2021-01-09 13:45] hpl002 commented on #208
+1

Would be great to have at least some of the [options that the CLI offers](https://github.com/IBM/openapi-validator#options) available in the node module.
E.g.,
- Specify path to .validaterc
- Specify path to ruleset
- Get statistics, as opposed to the results object
- Get errors only

So far **very** impressed with how customizable and extensible the validator is

[2021-01-09 15:11] hpl002 opened #229 "CLI does not dereference $refs"
Perhaps this is by design, but i feel as this might deserve a mention in the readme.

Was scratching my head trying to figure out why the CLI and node module were turning out different statistics, the $refs being the culprit.

Provided that the node module expects a parsed object then it is up to the client to decide if the document should be dereferenced or not. Given that the CLI takes the file

[2021-01-11 16:21] jorge-ibm commented on #229
@dpopp07

[2021-01-11 17:05] dpopp07 commented on #229
@hpl002 I'm not sure what you mean so may need some more info.

The CLI validator does resolve references. What behavior are you seeing that indicates otherwise?

If the output from CLI and node module are different, there may be a bug for us to address. In that case, will you send the discrepancy you are seeing in the output?

Or even better, if you can link us to your OpenAPI document, we can tr

[2021-01-11 17:10] dpopp07 commented on #208
I will look at this issue this week

cc @ccampanale
@hpl002 Glad you are enjoying the tool thus far

[2021-01-11 22:20] #155 closed

[2021-01-11 22:22] dpopp07 commented on #125
:tada: This issue has been resolved in version 0.33.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.33.2)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.33.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-11 22:22] dpopp07 commented on #155
:tada: This issue has been resolved in version 0.33.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.33.2)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.33.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-11 22:37] hpl002 commented on #229
Create a tiny working example: https://github.com/hpl002/issue-ibm-openapi-validator

[2021-01-11 22:49] dpopp07 commented on #229
Thanks for putting that together, I will check it out.

[2021-01-13 18:31] hpl002 commented on #229
any updated on this?

[2021-01-13 19:49] dpopp07 commented on #229
Was not able to look at it yesterday, planning on looking today

[2021-01-13 21:46] dpopp07 commented on #229
@hpl002 Okay I know what is going on. There are two main factors at play in your diff:

1. The CLI dereferences the spec just fine but it _also_ keeps the unresolved spec and performs validation on both. When you dereference the spec in your own code, before calling the validator, you lose the original information. That is why when you run the tool on the already resolved spec, you get warnings li

[2021-01-22 19:46] th3g3ntl3men commented on #204
What is the status of this issue? I also would like **email** to be added to the formats, as well as **uuid**. I have run my schema through other validators and it passes with no issues, however using this linter produces an error.

[2021-01-23 15:49] mkistler commented on #204
Now that we have integrated Spectral, which supports custom rules, I think the appropriate path forward is to replace the hard-coded `invalid_type_format_pair` rule with a Spectral rule that does more or less the same thing but allows a configurable set of formats.  I expect we will get to this at some point but it honestly isn't at the top of our priority list, so we would welcome a PR from the c

[2021-01-23 17:05] th3g3ntl3men commented on #204
That makes sense, I am sure there are definitely higher priority items than allowing formats. Just was asking. I will look into Spectral rules. Thanks for pointing me in the right direction @mkistler

[2021-01-25 23:35] hudlow commented on #181
Not a very long list, but here are the property names I am familiar with that run afoul of this rule despite somewhat legitimate reasons for having varying types:
[code]

[2021-01-26 18:31] #181 closed

[2021-01-26 18:34] dpopp07 commented on #181
:tada: This issue has been resolved in version 0.34.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.34.0)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.34.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-03 15:48] DerkSchooltink opened #232 "Unsupported keywords rule support"
When composing JSON schema's for OpenAPI 3 definitions, you have to keep in mind that there are keywords that you used to use in schemas are no longer supported:

- $schema
- additionalItems
- const
- contains
- dependencies
- id,
- $id
- patternProperties
- propertyNames

While this does not break the OpenAPI specifications, I would suggest that using these keywords is frowned upon and should onl

[2021-02-03 22:26] mkistler commented on #232
This does look like a valuable addition.  Now that we have support for Spectral custom rules, I think the best approach would be to implement this as a Spectral rule, which automatically makes it configurable by users.  We would welcome a PR along these lines.

[2021-02-04 05:48] raing3 opened #234 "Error parsing JSON specification with scientific numbers in it"
We are evaluating using this tool for linting our OpenAPI specification but it seems to have issues parsing scientific numbers. The following error appears when a scientific number is encountered in the schema:

[code]

This is probably more of an edge case issue but affects our usage of "multipleOf" in our specification where we are currently using small decimal numbers as a way to identify the s

[2021-02-04 07:11] timtucker opened #235 "no_response_body exclusion for OPTIONS requests"
General convention for OPTIONS requests is to return an empty 200 response with Content-Length=0.

Doing some investigation, some builds of FireFox even flag preflight requests that return anything other than 200 as an error (not sure on the behavior for the current release).

The no_response_body rule should either ignore empty response bodies for OPTIONS requests or allow configuration to exclud

[2021-02-04 08:22] toastyblast commented on #232
Upon checking how the official online [Swagger Editor](https://editor.swagger.io/#) responds to the addition of these now [unsupported keywords found on OAS 3's documentation](https://swagger.io/docs/specification/data-models/keywords/) it seems OAS itself throws hard errors, not warnings, upon the inclusion of these unsupported keywords in any schemas.

However, it seems it does not treat these i

[2021-02-04 19:15] dpopp07 commented on #234
@raing3 Thanks for opening the issue. Once the PR is released in the dependency, we will update that dependency's version. I'm fine with leaving this issue open for awareness in the meantime

[2021-02-05 21:21] dpopp07 commented on #235
Looking into it, it seems like it's a common enough pattern to disable this rule for OPTIONS requests. I think I prefer that to allowing general configuration for turning this rule off. @mkistler @hudlow any opinions here?

If we agree that's the best way forward, @timtucker would you be willing to open a PR for that change? If not, I will try to get to it soon.

[2021-02-08 12:50] mkistler commented on #235
Skipping that check for `OPTIONS` sounds very reasonable to me.  I don't think a configuration setting is needed.

[2021-02-08 23:37] mewalig commented on #215
Thanks. Would be nice if the default configuration was consistent with the formal specification, but nonetheless, good to know that with manual reconfiguration we at least have a way forward

[2021-02-19 19:44] jormaechea opened #241 "Items property is not validated properly for arrays"
### TL;DR;
Array items validation gives false positives for certain inputs.

### Extended version

Our team spotted a false positive in array properties validation.

Given a property in a schema with `type: array`, the validator demands that the `items` property is set and it's value must be of type object.
So far, so good. The problem arises when something that has a `typeof items === 'object'` c

[2021-02-19 19:54] jormaechea commented on #241
Inspecting the code a little bit more I found more than a dozen of places where objects are not validated properly.

I'm thinking in making a `isObject` utility and patching everywhere.

[2021-02-19 21:06] dpopp07 commented on #241
@jormaechea Thanks for reporting - those bugs are tricky to spot sometimes. We would absolutely welcome a PR to resolve!

[2021-02-21 21:50] jormaechea opened #243 "Proposal: add the ability to extend with custom validation rules"
This issue is for check if you'd be interested in adding this feature.

**Important:** The rest of the issue will use the following case, where we have some (made up) custom logic where we can add links to documentations for each operation using the `x-docs` extension.
[code]

## About the feature

The idea is to be able to add business-logic custom validations. For example, to validate a custom e

[2021-02-21 22:16] raing3 commented on #234
Closing as issue has been fixed in dependency.

[2021-02-21 22:16] #234 closed

[2021-02-22 18:50] jormaechea commented on #241
@dpopp07 you can close this whenever you want! 🚀

[2021-02-22 18:53] dpopp07 commented on #241
Resolved in #242

[2021-02-22 18:53] #241 closed

[2021-02-25 21:09] bblacha-sparkc opened #251 "Regression: "Maximum call stack size exceeded" is back"
This bug was fixed in 0.31 , but is back in 0.34.3 , of **lint-openapi**

With self-referencing types implementing the Composite pattern, we get "Maximum call stack size exceeded" in 0.34.3.   But it worked fine on 0.31, and properly flagged it as a "circular references" warning (natural in the Composite pattern.)

### lint-openapi -v 0.34.3 says:
[code]

### lint-openapi -v 0.31 says:
[code]

###

[2021-02-25 22:46] hwmatthewa commented on #251
Same issue here. Had to console.log the path in walk.js to actually track the error down as there is no indication as to where the circular reference originates.

[2021-02-25 23:43] mkistler commented on #243
We have recently integrated the Spectral validator and exposed its native support for custom rules.

https://github.com/ibm/openapi-validator#custom-spectral-rules

Spectral custom rules for many common validations can be written in yaml without any extra code required.  But there is also the ability to invoke javascript code on specific points in the API document for more complex validation tasks

[2021-02-25 23:43] #243 closed

[2021-02-26 14:53] dpopp07 commented on #251
@bblacha-sparkc @hwmatthewa Thanks for pointing this out, I will try to resolve this today.

[2021-02-26 16:51] jormaechea commented on #243
Haven't seen that. I'll take a look at spectral and get back to you if it's needed.

Thanks!

[2021-02-28 22:20] jormaechea commented on #243
@mkistler I've been digging around spectral and I have a question:
What's the end game for this package? Is it gonna end up as a spectral ruleset? Because if you can achieve anything with spectral, I don't see a good reason to mantain all the validation code that's prone to bugs that spectral rules may natively avoid.

[2021-03-01 13:14] mkistler commented on #243
@jormaechea I don't think we know yet where we're going to end up.  There is certainly some duplication in capability here so right now we're focused on reducing that.  But I think it is quite possible that we find some validations that aren't amenable to Spectral rules and thus we retain in our own validator code base.  We'll see.

[2021-03-01 18:45] #251 closed

[2021-03-01 18:48] dpopp07 commented on #251
:tada: This issue has been resolved in version 0.34.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.34.4)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.34.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-01 19:44] bblacha-sparkc commented on #251
Verified resolved.  Thank you.

[2021-03-04 12:51] ainar-g opened #259 "Errors about inconsistent property types are confusing or invalid"
Version: **0.34.4**.
OS/Arch: **Ubuntu 20.04**/**AMD64**.

<details>
<summary><b>Spec to reproduce</b>:</summary>

[code]
</details>

**Want**:  No errors or warnings.

**Got**:

[code]

`openapi-validator` seems to think that `.../User/properties/refreshed` and `.../CreateV1UsersRefreshResp/properties/refreshed` are the same property when in reality they are two different properties of two differ

[2021-03-05 17:43] dpopp07 commented on #259
Thanks for the issue - I think this was likely intentionally implemented but it's worth us rethinking if that's really the behavior we want and if so, looking at changing the message. In the meantime, you should be able to disable this rule in a `.validaterc` file.

[2021-03-05 20:16] mkistler commented on #259
The intent of this warning is flag cases where the same name is used for different things, and that is exactly what is happening here.  In one place, `refreshed` is a list of users, and in another place it is a timestamp.  Using different names for different things is a good practice in API design that we are trying to encourage here.  In this specific case, I think `refreshed_time` is a better na

[2021-03-05 21:13] ainar-g commented on #259
I see.  Then, I think, my second point stands, and the diagnostic message should reflect the fact that it is about the *names* of the properties as opposed to the properties themselves.  Because the current wording might imply the latter.

[2021-03-09 17:03] #229 closed

[2021-04-07 15:22] rolivares opened #270 "Unexpected token u in JSON at position 0"
this error is shown on console when I upgrade to v0.40 and execute the linter, is not currently appearing on 0.39

maybe related about 'response-error-response-schema' that appearing on revision too, using the same definition

`SyntaxError: Unexpected token u in JSON at position 0
    at JSON.parse (<anonymous>)
    at Object.json-schema-validation (eval at exports.evaluateExport (C:\GIT\MTT\bono\

[2021-04-09 19:43] cfinnestad opened #274 "new Error Object warnings"
started getting the following 2 warning
* Message :   Error response should have a uuid `trace` field
* Message :   Error Model should be an object with properties
can't figure out how to disable them
tried disabling in spectral.yaml file
[code]

[2021-04-09 21:06] cfinnestad commented on #274
tried a spectral.yaml file with
[code]

[2021-04-11 11:11] alecor191 opened #275 "Unable to customize spectral config: Error: Cannot find module 'ajv'"
Disclaimer: I'm new to openapi-validator so it's very likely that I'm missing something obvious.

**What I'm trying to do**
Customize default rules and disable rule `oas3-api-servers`. Essentially I'm trying to follow instructions in `README.md`:

**What I have done**
I added a file `.spectral.yaml` with the following content:

[code]

and then I'm running the Docker container of openapi-validator

[2021-04-11 17:47] alecor191 commented on #270
I'm getting the same error using the following command:

[code]

Output:

[code]

Worth mentioning:

- Even though I get the error+callstack above, the file still seems to get validated, as I see warnings/errors (see output above).
- If I use the openapi-validator's Docker container, then it works fine (I'm pointing it to the same file)

Environment info
- openapi-validator: 0.40.1
- Win10
- NPM v

[2021-04-12 14:57] barrett-schonefeld commented on #274
Thank you for posting!

I'm going to look into this today and will follow up with more information or a fix.

[2021-04-12 15:00] barrett-schonefeld commented on #275
Thank you for the detailed outline of the problem!

I've reproduced the issue on my side, and this seems to be a problem in the validator when a custom spectral config file extends our ruleset.

I'm going to work on this today, and I will update you later today (including an answer to your follow-up question about `lint-openapi init`).

[2021-04-12 21:12] barrett-schonefeld commented on #274
I was not able to reproduce the problem described above. Using the `.spectral.yaml` config you provided, the validator did not return `response-error-response-schema` errors.

A few suggestions:
1. Ensure the Spectral config file is named `.spectral.yaml` rather than `spectral.yaml`.
2. Ensure the `.spectral.yaml` file is in the current working directory.
3. You may rename the config file and/or p

[2021-04-12 21:14] barrett-schonefeld commented on #275
I have considered a couple of solutions, one of which is outlined in #277. We will move forward once I get some feedback on which solution we want to use.

[2021-04-14 20:15] #275 closed

[2021-04-14 20:17] ibm-devx-sdk commented on #275
:tada: This issue has been resolved in version 0.40.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.40.2)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.40.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-15 05:03] alecor191 commented on #275
@barrett-schonefeld thanks a lot for the super-fast fix! I validated it with the 0.40.2 Docker image and it looks great.

Do you mind sharing some details about the purpose of the "spectral" rules entry in the generated `.validaterc` file?

And I have one more question (happy to open a dedicated issue if this is indeed an issue and not just me doing something wrong): I would like to have the `.spe

[2021-04-15 12:49] mkistler commented on #275
The "spectral" rules entry in the generated .`validaterc` file is a relic of our early integration of Spectral into the validator.  At that time, we had plans to incorporate configuration for Spectral into `.validaterc`, but as we considered support for custom rules, we realized that using the standard `.spectral.yaml` was the better approach.

[2021-04-29 16:28] chrisdudley opened #289 "Any support for browser?"
Are there any plans to allow this to be run from a browser?
Currently a lot of the dependencies do a lot of fs operations to get config which obviously don't work in a browser.

We'd like to be able to validate OAI documents in a web app.

[2021-05-04 21:13] cluu12 opened #293 "New errors reported for existing .validaterc after upgrade to version 0.45.0"
The following errors are reported in version 0.45.0 after upgrade from 0.44.0.  Is there a change that requires updating of .validaterc file?

[code]

[2021-05-07 21:50] Ziaunys opened #294 "Any way to suppress specific errors/warnings without completely disabling a rule?"
I have an existing spec which has some violations of rules that I would actually like to keep enabled to prevent further violations, but I'd like to ignore the existing ones. Is this currently possible?

[2021-05-10 10:41] ewillis91 opened #295 "ibm-openapi-validator upgrade to 0.46.0 not recognising 'parameters' in .validaterc as a valid category"
Error:  Invalid configuration in .validaterc file. See below for details.

 - 'parameters' is not a valid category.
   Valid categories are: operations, responses, schemas

[2021-05-24 09:53] rhymes commented on #293
Re-running `lint-openapi init` worked for me, or removing the fields removed in this PR https://github.com/IBM/openapi-validator/pull/286

[2021-05-24 09:54] rhymes commented on #295
Re-running `lint-openapi init` worked for me, or removing the fields removed in this PR https://github.com/IBM/openapi-validator/pull/286

[2021-05-24 14:28] dpopp07 commented on #293
@cluu12 - there were changes that require an update of the .validaterc file and @rhymes is correct, those are the solutions (thanks for commenting).

Unfortunately, we forgot to use our deprecation mechanism we have in the code to remove rules without errors like these. So while the file needs to be manually updated right now, this shouldn't happen again moving forward.

[2021-05-24 14:28] #293 closed

[2021-05-24 14:28] dpopp07 commented on #295
@ewillis91  - there were changes that require an update of the .validaterc file and @rhymes is correct, those are the solutions (thanks for commenting).

Unfortunately, we forgot to use our deprecation mechanism we have in the code to remove rules without errors like these. So while the file needs to be manually updated right now, this shouldn't happen again moving forward.

[2021-06-04 02:20] meem commented on #295
I'm also seeing this problem, in addition to the following errors:

[code]

What are the new ways these rules are expressed?

Attn: @hudlow

[2021-06-04 14:03] barrett-schonefeld commented on #295
@meem to resolve this problem, you can remove the offending rules (`no_request_body_content` and `no_response_codes`) from `.validaterc`.

[2021-06-04 18:48] meem opened #298 ""non-204 responses should define a content object" seems too narrow"
Our API has two cases which seem like legitimate exceptions to the "non-204 responses should define a content object" rule:

- Methods that transition to a WebSocket via a `101 Switching Protocols` response.  Per https://datatracker.ietf.org/doc/html/rfc7231#section-6.2.2 there's no applicable content type in this case.
- Methods that use `202 Accepted`.  While https://datatracker.ietf.org/doc/htm

[2021-06-08 22:10] Ilyes512 opened #301 "Incorrect incorrect_ref_pattern rule?"
So I have a pretty large openapi yaml file that I split up into multiple files for organisational purposes. Currently I am getting allot of warnings that I previously with an older version (version 0.38 to 0.46) did not get. As far as I understand it the warning or not correct. For instance I get:

[code]
The ref it looks like this:

[code]

Is this a false positive or am I wrong? Or maybe its not

[2021-06-09 14:25] dpopp07 commented on #298
@meem thanks for the issue. We could probably make exceptions for other reasonable cases. @hudlow any thoughts on this?

[2021-06-10 16:42] dpopp07 commented on #301
Hey @Ilyes512, thanks for the issue. This does look like a false positive to me. I'm guessing that check is getting confused by the multi-file setup. Though, this isn't a new check, nor have we seen this before. I'll try to look into it when I get a chance.

[2021-06-10 16:44] dpopp07 commented on #294
@Ziaunys Unfortunately, I do not believe that is possible at this time.

[2021-06-10 16:47] dpopp07 commented on #289
@chrisdudley There are no plans for that right now. This project was actually originally converted from a browser app (years ago) because there was little interest in using the browser for validation and lots of interest in a CLI tool.

That said, this tool is also available as an NPM package and can be executed within a server-side Node app. You could create a web app that runs validation on the

[2021-06-14 07:29] meem commented on #298
@dpopp07 Thanks!  FWIW I briefly discussed this issue with @hudlow before filing it, and he seemed to concur with these two cases. There may be other response codes worthy of exceptions, but they did not come up in the VPC API.

[2021-06-14 15:41] barrett-schonefeld commented on #301
Yes, I think the problem here is that your document is likely being treated as a Swagger 2 document rather than the appropriate OAS3 document.

The way to resolve this would be to be more sophisticated in the validator about how we detect the `OpenAPI` version or to explicitly include the `OpenAPI` version in the document.

[2021-06-14 15:47] Ilyes512 commented on #301
The root file and every file that I reference always starts with:

[code]

Latest version is `3.1.0`. Not sure if updating the version to the latest will help?

[2021-06-14 16:14] dpopp07 commented on #298
Oh okay, great. Sounds good to me. Would you be open to submitting a PR for this? I can try to get to it but it may not be until next month (post Q2).

[2021-06-14 23:15] meem commented on #298
@dpopp07 I can try to take a shot at it.  Looking more deeply, it seems there was an older version of this rule (introduced in the semantic validator plugin via commit 90689c89 back in February of 2020) which we'd disabled via `"no_response_body": "off"` in our `.validaterc`.  The new version of this rule was then added to spectral via commit fd347170 in March 2021, but is considered its own rule.

[2021-06-15 13:37] emilesalem opened #304 "Arrays as the top-level structure in a response body"
the openapi-validator returns this error
`Message :   Arrays MUST NOT be returned as the top-level structure in a response body.`

Can anyone point me to this requirement in the specification?

The spec itself uses examples with arrays as top-level structure in response body:
[code]

from https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.1.0.md#responseObject

I understand this rul

[2021-06-15 13:59] emilesalem opened #305 "Schema of type string error"
`Schema of type string should use one of the following formats: byte, binary, date, date-time, password.`

Where is this requirement defined in the specification?

The openAPI specification itself uses examples of string type schemas without a format:
[code]

from here https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.1.0.md#responseObject

I understand I can change this in the con

[2021-06-15 15:25] #305 closed

[2021-06-15 15:25] #304 closed

[2021-07-12 05:29] urzumph opened #307 "Bad path ref parameter breaks the linter"
When lint-openapi is called with a YAML file which contains a path parameter, and the referenced parameter has an invalid definition (no "in" property), it causes lint-openapi to fail with:

[code]

Sample YAML file:
[code]

This can be worked around by setting paths-ibm.js:58 to include a defined check: `.filter(param => param.in && param.in.toLowerCase() === 'path')` but since "in" is required b

[2021-07-12 05:38] urzumph commented on #307
Sorry, I forgot to include that this was tested on:
$ lint-openapi --version
0.46.1

[2021-07-13 19:29] dpopp07 commented on #307
That's a good catch, thanks for the issue. I thought we did flag parameters without an `in` value, so I'll have to check on this.

[2021-07-14 14:07] #307 closed

[2021-07-14 14:09] ibm-devx-sdk commented on #307
:tada: This issue has been resolved in version 0.46.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.46.2)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.46.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-22 09:13] he-ritter opened #311 "Validator not recognizing missing property definition in object schemas"
The following invalid schema is not being recognized by the validator:
[code]

[2021-07-23 12:39] Richienb opened #312 "`operation_id_case_convention` rule can't be easily disabled"
With every other case convention rule, it can be disabled like this:

[code]

If the first item in the array is `"off"`, then the linter will skip the rule.

`operation_id_case_convention` is the only rule that does not follow this. Despite providing `"off"` as the first item, it still tries to check the case which isn't provided:

https://github.com/IBM/openapi-validator/blob/2bf13e19fd3893190caa

[2021-07-23 16:13] dpopp07 commented on #312
That does sound like unexpected behavior. I will try look into that soon but I'm also happy to review a PR if you would like to open one.

[2021-07-26 14:29] #312 closed

[2021-07-26 14:31] barrett-schonefeld commented on #311
Yes, this looks like a good check to add to the Validator. Would be happy to accept a PR for this, and also would be happy to look into this in the couple of weeks.

[2021-07-26 14:31] ibm-devx-sdk commented on #312
:tada: This issue has been resolved in version 0.46.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.46.4)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.46.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-10 10:50] Legion112 commented on #102
I am still getting such error.
It would be nice to give more context what is wrong

[2021-09-10 10:52] Legion112 opened #319 "Cannot read property '$ref' of undefined"
Need more mimingfull error description I have no clue what is wrong.

[code]

[2021-09-10 14:08] barrett-schonefeld commented on #319
I agree. I'm not sure what to make of this yet.

Are you able to provide `v2.yaml`, so I can take a look?

[2021-09-10 14:45] barrett-schonefeld commented on #301
Looking into this now.

I created a test case with the offending `$ref`, and I am not able to reproduce the error.

If you could provide the context in which the `$ref` is used, I may be able to replicate the behavior more closely in the test case to see if I get the error.

[2021-09-11 15:29] Legion112 commented on #319
Okay but I don't want to make the API public. Can I share the API via email?

[2021-09-13 16:48] dpopp07 commented on #298
@meem Sorry for the delay on this but to answer your question, I believe the old rule will eventually be deprecated in favor of the new one (if it hasn't already).

[2021-09-13 16:53] barrett-schonefeld commented on #301
I opened PR #321, which provides a test case meant to mimic the error outlined in the initial issue.

[2021-09-13 19:04] #298 closed

[2021-09-13 19:06] ibm-devx-sdk commented on #298
:tada: This issue has been resolved in version 0.47.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.47.1)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.47.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-13 19:25] meem commented on #298
@dpopp07 OK, thanks for addressing this with #320 👍

[2021-09-15 20:04] dpopp07 commented on #319
@Legion112 You can send the API to the email on my profile and I can share with Barrett internally.

Or, if it's easy enough, you could post a small API definition snippet that captures the problem in this thread

[2021-09-16 05:40] meem commented on #295
@barrett-schonefeld Thanks!  Does `oa3s-schema` also cover  these `oas3.parameters` checks?
[code]

[2021-09-16 08:55] Legion112 commented on #319
@dpopp07
I have sent you the OpenAPI specification. Let me know when you take a look.

[2021-09-16 14:05] barrett-schonefeld commented on #295
@meem Yes, that's right!

`has_schema_and_content` is covered by the Spectral rule `parameter-schema-or-content`.

[2021-09-16 15:22] barrett-schonefeld commented on #163
Closing because this is now covered by the `oas3-schema` rule

[2021-09-16 15:22] #163 closed

[2021-09-16 15:35] barrett-schonefeld commented on #217
Updated our Spectral dependency

[2021-09-16 15:35] #217 closed

[2021-09-19 16:03] Legion112 commented on #319
Any progress on this issues?

[2021-09-20 20:21] dpopp07 commented on #319
@Legion112 I apologize for the delay. I have been unable to reproduce the issue with the API you sent me. What version of the tool are you using?

[2021-09-21 09:04] Legion112 commented on #319
I just pull the new latest image `jamescooke/openapi-validator:b32a7e51815a` it does work now.
Thank a lot for quick fix

[2021-09-21 09:16] #319 closed

[2021-09-21 09:19] Legion112 opened #326 "TypeError: Cannot read properties of undefined (reading 'get')"
Another issue with OpenApi as [here](https://github.com/IBM/openapi-validator/issues/319).

Need to make the error more clear to be able to find the place that course the error.

![image](https://user-images.githubusercontent.com/20613430/134145220-185a585a-b47b-4f74-b917-d249dd45fa94.png)

 I'll send you @dpopp07  the specification and docker run command to email to easily reproduce the error.

[2021-09-21 11:48] kurtakiv opened #327 "Severity vulnerabilities"
npm audit shows vulnerabilities issues on version "^0.48.0"

![image](https://user-images.githubusercontent.com/23051736/134165207-bf080f0a-2500-4a5d-a961-3a1c6c3f387e.png)

[2021-09-21 15:57] dpopp07 commented on #326
@Legion112 I will look into it but wanted to check something real quick - I see that you are using `jamescooke/openapi-validator`, which is [a fork of this repo](https://github.com/jamescooke/openapi-validator). Just letting you know in case you meant to be interacting with that repo, since there have been a lot of commits here since the fork was created

[2021-09-22 07:21] Legion112 commented on #326
Oh.. I thought it was the official imagine.  My bad.

[2021-09-22 08:13] Legion112 commented on #326
@dpopp07  in the documentation [here](https://github.com/IBM/openapi-validator#docker-container) I see `jamescooke/openapi-validator` image. Maybe documentation is wrong or something?

[2021-09-22 15:04] dpopp07 commented on #326
@Legion112 That is my mistake - I got the Docker image mixed up with the fork of the same name. We don't have an "official" Docker image per se, but that community-supported image is the best one to use and it seems up to date with the latest from this repository.

Sorry for the  misunderstanding, I will look at this issue today.

[2021-09-22 19:17] #327 closed

[2021-09-22 21:18] dpopp07 commented on #326
@Legion112 I was able to reproduce the issue, looking into a fix now

[2021-09-27 09:11] Legion112 commented on #326
Any progress on this one?

[2021-09-27 09:48] ibm-devx-sdk commented on #327
:tada: This issue has been resolved in version 0.49.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.49.0)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.49.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-27 15:18] dpopp07 commented on #326
@Legion112 Yes, I found the root of the issue on Friday and should be posting a PR today with the fix.

[2021-09-27 19:59] dpopp07 commented on #326
@Legion112 PR opened here - #333

[2021-09-29 17:05] #326 closed

[2021-09-29 17:07] ibm-devx-sdk commented on #326
:tada: This issue has been resolved in version 0.50.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.50.1)
- [GitHub release](https://github.com/IBM/openapi-validator/releases/tag/v0.50.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 08:19] Grahahax commented on #294
Partially disabling rules would be very useful for us too, we also have an existing spec which we'd like to follow best practice for new additions, but disable just the existing parts we can't or don't want to follow a rule for.

Other linters often use inline annotation which obviously wouldn't be appropriate here, but I think a way to configure exclusions via paths would work well.

Examples of

[2021-10-09 21:28] jamescooke opened #336 "Unable to install v0.51.2 in node image"
Am unable to install latest validator image v0.51.2 in any main node container images provided by https://hub.docker.com/_/node/. This is breaking the current master build of the community docker image (see https://github.com/jamescooke/openapi-validator-docker/issues/97 for more details of my vague attempts at hacking a fix.)

The error is:

[code]

Probably related to the change in https://githu

[2021-10-11 20:55] #336 closed, assigned to nobody

[2021-10-12 09:58] jamescooke commented on #336
Thanks for the quick fix 👍🏻 ... I'll get the v0.51.3 container out today hopefully.

[2021-10-22 11:48] JenswBE opened #338 ""localhost" is not considered a valid host for "openIdConnectUrl""
# Problem

Linter doesn't like `localhost` in `openIdConnectUrl`

[code]
[code]

# Workaround

A simple workaround is to use `127.0.0.1` instead.

# Possible solutions

After some digging in the source code, I see you're using the helper `isURL` from package `validate` to check this url: https://github.com/IBM/openapi-validator/blob/main/src/plugins/validation/oas3/semantic-validators/security-def

[2021-10-25 16:00] NickVanderPyle opened #339 "Has dependency on vulnerable version of IMMER"
Version: **0.51.3**

Has dependency on vulnerable version of `immer`.

#### Dependency Hierarchy:

- ibm-openapi-validator-0.51.3.tgz (Root Library)
  - spectral-5.9.2.tgz
    - json-ref-resolver-3.1.1.tgz
      - **immer-8.0.4.tgz (Vulnerable Library)**

CVE: [CVE-2021-23436](https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-23436)

[2021-11-01 10:42] Grahahax commented on #294
@dpopp07 I'm not familiar with the structure of this repo so I've quickly created a draft for feedback before I spend too much time testing. How does this approach look to you, any other idea?

[2021-11-02 18:10] rafaelsierra commented on #304
For future reference, you need to change the following on your `.validaterc` to be able to return lists:
[code]

[2021-11-18 21:41] rolivares opened #344 "text/plain body and "request-body-object" rule"
I've written an endpoint and the body looks like:

[code]

ApplierRequestStatus is defined as a string enumeration like this:

[code]

But linting is advising that "All request bodies MUST be structured as an object" even the content is defined as text/plain.

[code]

[2021-11-19 20:15] dpopp07 commented on #344
Hi @rolivares

This rule comes from our internal API design requirements at IBM, which say

This tool is designed around our API design guidelines but it is configurable if your API does not need to follow this requirement. You can disable the rule entirely - see [this documentation](https://github.com/IBM/openapi-validator/tree/main#changing-spectral-rule-severity) for more info

[2021-12-03 15:05] sebas-intellegens opened #345 "Validate `required` + `default` properties"
using [petstore.yaml](https://github.com/OAI/OpenAPI-Specification/blob/main/examples/v3.0/petstore.yaml)
and the `"required_param_has_default": "error"` config option

adding `default: some_string` [here on a parameter](https://github.com/OAI/OpenAPI-Specification/blob/main/examples/v3.0/petstore.yaml#L65) and running `lint-openapi` does correctly return an error

however setting `default: some_s

[2021-12-15 12:22] Havunen opened #347 "Insane performance regression in nodejs 16"
We updated nodejs 14 to nodejs 16 and runtime increased from 30seconds to 45minutes! We are using lates version of IBM open api validator and did not change any configurations between the update.

Here is screen shot of stack trace after 2minutes
![image](https://user-images.githubusercontent.com/2021355/146185451-d7ad8f49-1f61-4255-a908-2fc2de5e25e6.png)
![image](https://user-images.githubusercon

[2021-12-15 12:22] Havunen commented on #347
IBM validator config.

[code]

[2021-12-15 14:55] Havunen commented on #347
Removing spectral from the code makes the execution pass in 1second.....

[2021-12-15 14:55] Havunen commented on #347
I tried disabling all the rules and it did not help

[2021-12-16 16:16] dpopp07 commented on #347
@Havunen Thanks for this issue. I had not noticed that but we are actually about to release a new version of the validator that complete overhauls our use of spectral. We removed the deprecated spectral package and now depend on their new core package. This involved a number of breaking changes on the spectral side so it's taken a bit to get everything converted but that should be released this we

[2021-12-22 18:12] meem opened #352 "`string-boundary` check doesn't appear to include `path` parameters"
Our API includes many parameters such as:

[code]

(Note the use of `type: string` without any `minLength`, `maxLength`, or `pattern` qualifiers)

However, these do not appear to included in the validator's `string-boundary` check, while `query` parameters are (correctly)  checked.

[2021-12-28 13:49] vmarkovtsev commented on #304
@rafaelsierra's workaround no longer works. The linter writes that it ignores Spectral rules defined in `.validaterc` now.

I tried creating `.spectral.yaml` with

[code]

but it didn't work as well.

[2021-12-28 13:56] vmarkovtsev opened #354 "Trouble disabling request-body-object"
I think that version 0.52 disabled overriding Spectral rules in `.validaterc` file. I followed [this workaround to disable request-body-object](https://github.com/IBM/openapi-validator/issues/304#issuecomment-958002737) and saw

[code]

So I read the documentation and created `.spectral.yaml` file in the same directory as `.validaterc`. The content was:

[code]

However, it didn't do the trick and

[2021-12-28 14:08] vmarkovtsev opened #355 "ValidationError on .spectral.yaml"
I installed version 0.51.3 (0.52 does not see the Spectral config, see #354).
Wrote the following `.spectral.yaml` that I took [from the documentation](https://github.com/IBM/openapi-validator#changing-spectral-rule-severity):

[code]

The linter crashed.

[code]

I added the quotes around `@ibm-cloud/openapi-ruleset` in `.spectral.yaml`

[code]

and hit

[code]

I guess the problem I have boils d

[2021-12-28 14:14] vmarkovtsev commented on #354
I found that the following Spectral config works:

[code]

Hence my problem was with the single quotes. I didn't have them because I copy-pasted from the documentation.

My issue transforms to the linter not reporting YAML validation errors in `.spectral.yaml` and silently ignoring the config. Version 0.51.3 reports them.

[2022-01-04 17:34] #355 closed

[2022-01-04 17:36] dpopp07 commented on #355
@vmarkovtsev your doc changes are now merged in. However, it looks like you were still having an issue (`Provided ruleset is not an object`) after putting quotes around the ruleset. Is that still happening for you with a valid ruleset?

[2022-01-04 17:38] dpopp07 commented on #354
@vmarkovtsev Documentation is now fixed, thanks to your PR. As for YAML validation errors, we no longer do the parsing but let Spectral handle it. We should be printing any Spectral errors we receive if there is an issue - are you seeing otherwise?

[2022-01-04 18:23] ibm-devx-sdk commented on #355
:tada: This issue has been resolved in version 0.1.1 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-04 18:23] ibm-devx-sdk commented on #355
:tada: This issue has been resolved in version 0.52.1 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.52.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-04 20:48] vmarkovtsev commented on #354
@dpopp07 As far as I see Spectral stays silent on parsing errors.

[2022-01-04 20:50] vmarkovtsev commented on #355
@dpopp07 That was for an older version of the validator. The latest version worked fine.

[2022-01-04 21:17] dpopp07 commented on #352
@meem Thanks for the issue but I am unable to reproduce this. I am seeing the expected warnings for string path parameters. Happy to help debug why you aren't seeing them, though. How is this parameter in your example being defined? In the components section with a reference to it in an operation?

[2022-01-07 18:49] meem commented on #352
@dpopp07 Sorry for the slow follow-up.  Yes, it looks like it's defined on the path rather than the method.

[2022-01-10 21:01] #352 closed

[2022-01-10 21:04] ibm-devx-sdk commented on #352
:tada: This issue has been resolved in version 0.52.2 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.52.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-10 21:04] ibm-devx-sdk commented on #352
:tada: This issue has been resolved in version 0.1.2 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-16 14:36] liamnichols opened #360 "[Bug] False positive: "The discriminator property name used must be defined in this schema""
Hello, I'm evaluating this tool for use with our project and have spotted an issue with one of the rules that we can't actually opt out of that produces the following error against my spec:

The error appears to be produced by the `builtin` rule, which I can't seem to opt-out of, but I _believe_ that its a false positive due to the way that we're using `allOf` references in our polymorphic object

[2022-01-17 09:45] Maxime-Daniel opened #361 "Spelling mistake in README.md: 'The default mode section decscribes these rules.'"
At https://github.com/IBM/openapi-validator

Should be 'describes'.

[2022-01-21 20:56] dpopp07 commented on #361
Great catch! Thanks for the issue. Feel free to open a PR if you'd like, otherwise I will fix this soon

[2022-01-21 21:13] dpopp07 commented on #360
Hey @liamnichols, thanks for the issue. This does look like a false positive to me and probably needs a fix in the code. You're more than welcome to open a PR to resolve! Otherwise, I will try to patch this next week. I think a better check would be to see if the property exists in `properties` or, in the case of a oneOf/anyOf, make sure it is present in _all_ child schemas or, in the case of an a

[2022-01-21 21:15] dpopp07 commented on #347
@Havunen Circling back to this issue - the currently released version of this tool uses the updated version of Spectral. Is the problem resolved for you now?

[2022-01-21 21:18] dpopp07 commented on #204
This much anticipated support has been added with the latest release (0.51.3) ! `email` and `uuid`, among other formats, are now supported. Closing this issue as resolved

[2022-01-21 21:19] #204 closed

[2022-01-23 12:08] Havunen commented on #347
Cool, I will check and report back 😀

[2022-01-23 15:14] liamnichols commented on #360
Thanks @dpopp07, I agree! In fact, I did start having a go at patching it however I got a little stuck since I ran into a secondary issue since the contents of `*Of` could in fact be a reference to other schemas and the object passed into **discriminator.js** hadn't been dereferenced 😄

I'm not too familiar with the codebase (or Javascript/Node for that matter) so there might be an easier way to s

[2022-01-24 19:27] dpopp07 commented on #360
@liamnichols Sounds good. To answer your last question, the idea behind the `builtin` checks is that they are fundamental to the OpenAPI specification and therefore any API definition that breaks these rules is technically not a valid OpenAPI document. That said, I don't think this rule was meant to be that kind of rule.

Since that is also a component of the issue, I'll take a pass at fixing this

[2022-01-25 14:38] liamnichols commented on #360
Thanks @dpopp07, I appreciate it 🚀 Let me know if I can be of any help

[2022-01-26 17:06] rparini opened #364 "Unable to configure Spectral rule for `oas3-valid-example`"
Using v0.53.1 with a `.spectral.yaml`

[code]
results in:
[code]

I am new to this validation library and Spectral so may be misunderstanding something but this rule does currently exist in [Spectral's documentation](https://github.com/stoplightio/spectral/blob/develop/docs/reference/openapi-rules.md#oas3-valid-example) and in [IBM openapi-validator documentation](https://github.com/IBM/openapi-va

[2022-01-26 17:32] dpopp07 commented on #364
Hi @rparini - thanks for the issue. It looks like both our documentation and Spectral's documentation is out of date. Although they were quite unclear about it, Spectral separated this rule into the rules `oas3-valid-media-example` and `oas3-valid-schema-example` in their last major release.

This is hinted at in [their migration guide](https://meta.stoplight.io/docs/spectral/ZG9jOjg2MDIwMDM-spect

[2022-01-27 09:14] rparini commented on #364
Hi @dpopp07 thanks very much for the quick response and the links.  I'll make a similar issue on Spectral's repo to prompt them to update their documentation as well.

Happy for this issue to be closed, if you prefer, or for it to be left open until the IBM validator's documentation is updated.

[2022-01-27 14:35] dpopp07 commented on #364
Sounds good! I'll leave this open until I merge in the documentation changes. Thanks again

[2022-01-31 14:26] vmarkovtsev opened #366 "Trouble disabling request-body-object (2)"
The following `.spectral.yml` no longer disables `request-body-object` rule in 0.53.1. The same file worked well in 0.52.2.
[code]

[2022-02-01 19:52] dpopp07 commented on #360
I opened [a PR for this](https://github.com/IBM/openapi-validator/pull/367). It grew a little in scope but it resolves this issue

[2022-02-01 20:18] jnnyrttn commented on #354
For me using `extends: '@ibm-cloud/openapi-ruleset'` with  `-r .spectral.yaml` parameter still does not work.

[code]

It only works when i do somehing like this:
[code]

[2022-02-02 20:58] hudlow opened #368 "Enforce order, completeness, and correctness in rule lists"
We have lists of Spectral rules in a couple of places:

- In documentation: https://github.com/IBM/openapi-validator#spectral-configuration
- In code: https://github.com/IBM/openapi-validator/blob/main/packages/ruleset/src/ibm-oas.js

In these lists, we'd benefit from build checks to make sure:

1. Rules are listed in alphabetical order to make rules easier to find and conflicts less likely when a

[2022-02-03 18:09] dpopp07 commented on #366
Hi @vmarkovtsev sorry for the delay. Is it happening with only that rule or all rules? Will you run the tool with the `--debug` flag and let me know what the output is?

I'm actually seeing this behavior with both a fresh install of `0.52.2` and `0.53.1`. I'm concerned something may have changed in the underlying Spectral dependency that's breaking the config

[2022-02-04 20:51] #360 closed

[2022-02-04 20:54] ibm-devx-sdk commented on #360
:tada: This issue has been resolved in version 0.2.0 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-04 20:54] ibm-devx-sdk commented on #360
:tada: This issue has been resolved in version 0.54.0 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.54.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-06 19:14] liamnichols commented on #360
Thanks @dpopp07, I'll give this a go shortly! 🚀

[2022-02-08 17:17] vmarkovtsev commented on #366
I tried to rollback to 0.52.2, 0.52.1, etc. and failed the same way. Indeed, something must have changed in the dependencies.
Added `--debug`:

[code]
where `/path/to/openapi` is my directory with linted YAML file.

[2022-02-08 17:21] vmarkovtsev commented on #354
I hit the same error as @jnnyrttn in https://github.com/IBM/openapi-validator/issues/366

[2022-02-09 17:17] dpopp07 commented on #366
@vmarkovtsev I went to debug this further yesterday and found that the issue was gone, with all versions discussed above. I am unable to reproduce the issue now, the config file works perfectly for me. Perhaps the underlying dependency was fixed and that got pulled in automatically for me.

If you re-install the tool, are you still seeing the error?

All of this is making me think we need to pin o

[2022-02-10 00:42] loucadufault opened #373 "There was a problem with spectral. Error running Nimma when running lint-openapi program"
I am trying to lint my `openapi.json` spec file.

I have installed the package as a `devDependency` for my Node project.

I have followed the installation guide and installed the `ibm-openapi-validator` package using:

[code]

which installs version 0.53.0.

Upon running the validator with

[code]

It gives the error:

[code]

The only divergence from the docs I have done is install it locally as

[2022-02-10 10:05] jnnyrttn commented on #354
@dpopp07 After installing 0.54.1 i hit the same error. I see old versions or spectral-*.  in package.json

[code]
I am using:

node v17.4.0
npm 8.3.1

[2022-02-15 06:06] Havunen commented on #347
Works smoothly now!

[2022-02-15 06:06] #347 closed

[2022-02-15 16:31] dpopp07 commented on #373
Hi @loucadufault sorry for the delay on this - I will do some debugging here today

[2022-02-15 21:12] dpopp07 commented on #366
@vmarkovtsev After some testing, I've pinned all of the Spectral dependencies to ensure the correct versions are used and everything is working on my side. The latest version (`0.56.2`) uses the pinned dependencies. Let me know if that's solved the issue for you.

[2022-02-15 21:13] #364 closed

[2022-02-15 21:13] #361 closed

[2022-02-15 21:15] dpopp07 commented on #354
@jnnyrttn Thanks for checking that. The latest version of the validator (`0.56.2`) includes pinned Spectral dependencies in the `package.json`. That has solved the issue for me. Let me know if you're still experiencing the issue in that version. If you are, I wonder if old versions are being cached somewhere.

[2022-02-15 21:15] #344 closed

[2022-02-15 21:18] dpopp07 commented on #339
Resolved in [`v0.52.0`](https://github.com/IBM/openapi-validator/releases/tag/ibm-openapi-validator%400.52.0)

[2022-02-15 21:18] #339 closed

[2022-02-15 21:20] dpopp07 commented on #294
This is now possible with [Spectral overrides](https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTg5-custom-rulesets#overrides). Only rules defined in our `@ibm-cloud/openapi-ruleset` ruleset are supported but we are currently in the process of converting all of our existing rules to this format.

[2022-02-15 21:20] #294 closed

[2022-02-15 21:22] dpopp07 commented on #172
This is now supported through the Spectral rule `oas3-unused-component`

[2022-02-15 21:22] #172 closed

[2022-02-15 21:34] rolivares commented on #344
oh! I see, my mistake ;) thanks

[2022-02-15 22:36] dpopp07 commented on #373
Okay @loucadufault after throwing some debugging console log statements in the `nimma` code, I found the source of the error. It seems that Spectral/nimma is choking on [the parameterized server URL](https://github.com/loucadufault/Shopify-Backend-Developer-Intern-Challenge/blob/main/inventory-tracking-backend/docs/openapi.json#L14) in your API definition. It seems to be trying to create a Node `U

[2022-02-16 06:50] loucadufault commented on #373
Thanks for investigating this. It seems that the error occurs when the curly braces are part of the host port (in your example `http://some-service.io/v1:{port}`, the `:{port}` string is considered part of the pathname `v1:{port}`).

I am not sure I agree with your assessment that this is not an issue with Spectral. In my view, I wouldn't expect the string value for the Server Object `url` field t

[2022-02-16 16:03] dpopp07 commented on #373
Okay yes, I do agree with you. I meant that it did not seem to be a _bug_ with Spectral per se but intentional behavior that is indeed questionable. It is a bug though because it is an issue that Spectral, a tool that processes OpenAPI definitions, cannot process URLs clearly allowed in an OpenAPI definition.

Also agreed. They don't seem to be resolving the URL variables before checking to see if

[2022-02-16 22:42] dpopp07 commented on #373
Issue opened against Spectral: https://github.com/stoplightio/spectral/issues/2064

[2022-02-17 00:21] loucadufault commented on #373
Not a bug but a feature ;) I understand better now the intent of your previous comment.

Appreciate it, and thanks for your support with this issue.

[2022-02-17 16:12] dpopp07 commented on #373
Haha yes, exactly

No problem! Thanks for pointing this out, it's a good find. We'll see what the Spectral folks think about it

[2022-02-18 10:41] DanRoseus commented on #354
I also see this when using the latest docker image to run. I.e. run using the following:
[code]

The following .spectral.yaml seems to be ignored:
[code]

And the following works:
[code]

[2022-02-18 13:49] Havunen opened #378 "Remove coverage information from deployed package"
ibm-cloud / open-api-ruleset includes code coverage data in published package, please remove it to reduce package size:
![image](https://user-images.githubusercontent.com/2021355/154694701-36b42df6-6df9-49c4-aefa-ae66e4ca9432.png)

[2022-02-18 14:06] Havunen opened #379 "Please output spectral configuration validation errors to console"
It is currently very difficult to adjust configurations between openapi validator versions, because errors are not shown to console.

Have spectral file like this:

[code]

and use open api validator through code ( something like this):

[code]

all validation errors are ignored because "debug" parameter is undefined in spectra-validator.js  checkGetRulesetError and then it silently fallsback to i

[2022-02-18 14:09] Havunen commented on #379
Always when I update ibm open api validator I need to manually edit this file:
https://github.com/IBM/openapi-validator/blob/main/packages/validator/src/spectral/spectral-validator.js#L87-L119

to get any understanding why its not working. Also it fails to chalk.magenta (color method?)... well I dont need the colors but the output so I always remove it

[2022-02-18 14:10] Havunen commented on #379
After manually editing that file it will output following errors for the above yaml configuration... its difficult to fix it without these messages

[code]

[2022-02-18 14:19] Havunen commented on #379
Another question, how do I change the property style to camel case or is it broken?

this does not seem to work?

.spectral.yaml file...

![image](https://user-images.githubusercontent.com/2021355/154699533-19085f73-5924-48e6-8aa8-4a464894af96.png)

[2022-02-18 21:39] dpopp07 commented on #378
Good catch! Thanks for the issue, I'll have this fixed soon

[2022-02-18 21:40] dpopp07 commented on #379
Thanks for bringing this up. I'll work on a change to log these errors. As for your last question, I need to spend a little time figuring out why that won't work. I'll get back to you on that soon

[2022-02-21 21:56] dpopp07 commented on #366
Unfortunately, I'm seeing this error again. I'm thinking I may have unknowingly spoiled my test environment somehow when I saw it working.

I did confirm this is a bug in Spectral however - I have the same experience when trying to use a custom ruleset with their tool. I opened up an issue against their repository: https://github.com/stoplightio/spectral/issues/2072

[2022-02-21 22:01] dpopp07 commented on #354
@jnnyrttn @DanRoseus I am seeing this in the latest version of the validator as well. I don't think that pinning dependencies made a difference (my testing environment must have been messed up somehow).

This is a bug in Spectral and I've opened an issue against their repository - https://github.com/stoplightio/spectral/issues/2072

I'll note a workaround here - if you install the `@ibm-cloud/open

[2022-02-22 14:02] fenuks opened #383 "How to configure spectral's rule property_case_convention?"
Hello, I'm trying to migrate to the newest version of openapi-validator that includes rewriting property_case_convention as spectral rule.

Hints given by tool as rather vague
[code]
but after some searching I found the PR that introduces this change (#375), and otherwise undocumented information that casing naming needs to be adjusted to [spectral convention](https://meta.stoplight.io/docs/spectr

[2022-02-22 20:41] dpopp07 commented on #354
@vmarkovtsev @jnnyrttn @DanRoseus To keep you updated on the latest info from Spectral, it turns out that it's actually _required_ for rulesets to live in the local file system. See [this comment on the issue I opened](https://github.com/stoplightio/spectral/issues/2072#issuecomment-1047630488). So, it turns out the workaround I mentioned is actually just the standard use case. So you'll need to i

[2022-02-22 20:41] dpopp07 commented on #366
[Resolution to this issue](https://github.com/IBM/openapi-validator/issues/354#issuecomment-1048193644)

[2022-02-22 22:07] dpopp07 commented on #379
@Havunen I thought that Spectral had a simpler mechanism for providing configuration to an existing rule, but I misread their documentation. To change this rule to use camel case, you need to use a [JavaScript-formatted ruleset](https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTg5-custom-rulesets#alternative-js-ruleset-format). Then, you can import the function we use for validating and provide yo

[2022-02-22 23:01] dpopp07 commented on #383
Hi @fenuks - I am working to get the documentation updated to better indicate the Spectral rules available.

As far as how to configure the rule, it's still possible but Spectral makes it rather difficult and we're thinking of dropping this configuration altogether. I left more details [in this comment](https://github.com/IBM/openapi-validator/issues/379#issuecomment-1048258333).

[2022-02-23 10:18] fenuks commented on #383
Thank you very much, I can confirm that JS configuration works as expected.

[2022-02-23 10:18] #383 closed

[2022-02-23 20:56] dpopp07 commented on #373
@loucadufault I was able to track this down to a custom rule within our ruleset (not Spectral). Not sure how that eluded me the first time around, but I'll try to put out a fix for this soon.

[2022-02-24 18:28] dpopp07 commented on #378
Should be resolved with #386

[2022-02-24 18:29] dpopp07 commented on #379
@Havunen To your original issue, `debug` is now an argument in the programmatic API - added with #386

[2022-03-08 07:53] joaoantoniorabelo commented on #383
message
`[Error] There was a problem with spectral.
Provided ruleset is not an object

[Error] Additional error details:

Error: Provided ruleset is not an object
    at assertValidRuleset (project/node_modules/ibm-openapi-validator/node_modules/@stoplight/spectral-core/dist/ruleset/validation.js:95:15)
    at new Ruleset (project/node_modules/ibm-openapi-validator/node_modules/@stoplight/spectral

[2022-03-08 10:40] fenuks commented on #383
Same spectral config works for me, although I named it `spectral.js`, and pass it manually to the command `lint-openapi --ruleset spectral.js`, perhaps that makes difference.

[2022-03-09 00:37] joaoantoniorabelo commented on #383
It still throwing the same error. I have tried the method mentioned before and @fenuks commented to use the parameter --ruleset.

command:
[code]

[code]

[2022-03-11 08:57] shashank90 opened #400 "String-boundary check not working for string fields in response schemas"
[code]
lint-openapi isn't catching missing string-boundary checks from response schemas. In the above example,  code & message are without minLength & maxLength.

I am using version: 0.57.4

Am I missing something?

[2022-03-15 14:27] dpopp07 commented on #400
@shashank90 Yes, this is intentional. We only validate string boundaries for "input" - parameters and request body properties. See [the `given` property in the rule definition](https://github.com/IBM/openapi-validator/blob/main/packages/ruleset/src/rules/string-boundary.js#L10-L16).

[2022-03-15 14:31] dpopp07 commented on #383
@joaoantoniorabelo The only difference between your code and my example is that I wrap the extended ruleset in an array:

[code]

I don't think that should make a difference but it might be worth trying. I'm not sure why your code isn't working - what version of the validator are you using?

[2022-03-15 15:08] dpopp07 commented on #379
I believe everything in this issue has been addressed so I'm going to close. Please re-open if there is something that wasn't resolved

[2022-03-15 15:08] #379 closed

[2022-03-15 15:10] #378 closed

[2022-03-24 21:57] scottmcarthur-heb commented on #259
I completely agree that simply updating the message to indicate that the issue is with the name would be more clear.  I spent  more time than necessary trying to track down what the actual problem was, when a message like the one proposed by Ainar would have been much more clear.

[2022-03-25 16:57] dpopp07 commented on #373
@loucadufault This is fixed in v0.58.2

[2022-03-25 16:57] #373 closed

[2022-03-29 20:22] dpopp07 commented on #259
Sorry for the delay on this issue, I agree that the message should be made more clear. I will try to make that change soon

[2022-03-31 17:24] rliebz opened #405 "YAML parsing fails with global installation"
# Description

When referencing `@ibm-cloud/openapi-ruleset` in a `.spectral.yaml` file, parsing fails and the following message appears:

[code]

# Steps to Reproduce

## Local Machine

With the following `.spectral.yaml`:
[code]

Install any version of `ibm-openapi-validator` `>= 0.52.1`, and the ruleset globally:

[code]

Run the command with the `--debug` flag on any file:

[code]

## Docker

[2022-03-31 18:22] dpopp07 commented on #405
The ruleset needs to be in the local filesystem for Spectral to find it, like any NPM dependency. If you haven't already, you need to install the ruleset package as a local dependency. Spectral will automatically find it in `node_modules/`.

We were a bit late getting documentation out on this but you can find more info in our [customization docs](https://github.com/IBM/openapi-validator/blob/main

[2022-03-31 19:00] rliebz commented on #405
Thanks for the quick response. I can replicate the behavior using the spectral CLI directly, so I'll follow up on their end. I appreciate your time here.

[2022-04-01 16:12] rubenramosDev opened #406 "Skipping file with unsupported file type"
I'm trying to execute next command line ```lint-openapi --debug '...\exampleyaml'``` but I have the next response:

** [Warning] Skipping file with unsupported file type**
**[Error] None of the given arguments are valid files.**

Even though files I'm trying to test are perfectly fine... I'm already tried with .json and .yaml files with same response.

I'm on
Windows 10
Version: 0.58.2

[2022-04-05 19:08] dpopp07 commented on #259
This issue is being addressed in #408

[2022-04-07 03:00] ShilpaJalaja opened #410 "Version 0.46.3 is not accepting schema type array"
Recently we have upgraded ibm-openapi-validator package from version 0.24.0 to 0.46.3 and the openapi.yaml that passed validation via lint-openapi command now throws error wherever request body schema is of type array.

This seems to be a breaking change .

Error message says : All request bodies must be structured as an object.

Is there a way to get past this issue?

[2022-04-07 11:31] gaetano-guerriero opened #411 "crash when type is an array"
To my understanding `type` as an array should be supported by OAS 3.1.0 as it is by current JSON Schema, but passing it generate a crash:
[code]

[2022-04-07 15:05] michelecurioni opened #413 "Misleading error for linked schema properties"
Hi,
I have an openapi definition where some schema entities reference other entities. The validation detects a casing error (I'm using a camel casing rule) on the linked object, but the error reports the problem on the main object.

For instance, the Application entity should fail validation because the "_links" property is not camel case:
[code]
but the error is reported against ApplicationRespon

[2022-04-07 16:00] michelecurioni opened #414 "Support for hateoas style"
Hi,
would you be able to suggest how to write a rule that accepts hateoas fields, like "_link" and "_embedded", but at the same time validate the casing of other properties in a schema?

For instance, I'd like to enforce a camel casing for this entity, but also accept words starting with "_".
[code]

Thanks

[2022-04-07 16:17] dpopp07 commented on #411
Hi @gaetano-guerriero. We do not yet support OpenAPI 3.1.0, which is why you are seeing this issue. It is an item on our roadmap but is not a high priority for us right now.

[2022-04-07 16:28] dpopp07 commented on #410
Hello @ShilpaJalaja. With each feature release of the tool, we add new validations to better enforce our API requirements and guidelines. This means that an API that passes validation with one set of rules might not be compliant with an expanded set of rules. I understand that this could break your build, it is the nature of the tool to continually add validations. Our guidelines require that requ

[2022-04-07 16:28] #410 closed

[2022-04-07 21:59] dpopp07 commented on #413
Hi @michelecurioni. Unfortunately, this is a known issue with Spectral that we haven't been able to get any traction on. We perform our validations on the resolved specification and rely on Spectral to map the paths back to the original document. In many cases, this works well, but there are also many cases where this breaks.

We've opened two issues ([here](https://github.com/stoplightio/spectral

[2022-04-07 22:05] dpopp07 commented on #414
Hi @michelecurioni, I think you have two options here. Depending on the version of the validator you're using, we use [Spectral's `casing` function](https://meta.stoplight.io/docs/spectral/ZG9jOjExNg-core-functions#casing) to perform the validations. You may be able to [customize the rule](https://github.com/IBM/openapi-validator/blob/main/docs/ibm-cloud-rules.md#rule-property-case-convention) to

[2022-04-10 02:44] loucadufault commented on #373
Thanks for following up with the fix! Appreciate it.

[2022-04-11 11:21] michelecurioni commented on #414
I created this custom rule that seems to do the trick:
[code]

[2022-04-11 15:14] #414 closed

[2022-04-11 20:48] ShilpaJalaja commented on #410
@dpopp07 Thank you for the quick response. I have set the rule on .spectral.yaml file as below:

[2022-04-18 09:28] Thomasdezeeuw opened #425 "Git merge conflict left in docs"
See https://github.com/IBM/openapi-validator/blame/main/docs/ibm-cloud-rules.md#L179-L187.

[2022-04-18 09:48] Thomasdezeeuw opened #426 "content-entry-provided lint doesn't consider 304"
It only consider 204 response to have no body, but 304 should also not include a body.

[2022-04-18 15:00] dpopp07 commented on #425
Thanks for reporting! I'll patch that ASAP

[2022-04-18 15:06] dpopp07 commented on #426
Agreed, thanks for the issue. I will make this change.

[2022-04-18 15:39] Krapaince commented on #301
Hey @barrett-schonefeld, I ran into the same issue with  a multiple files openapi documentation.
[code]

I created a [repo](https://github.com/Krapaince/ibm-openapi-validator-incorrect_ref_pattern) so that you can reproduce the error hopefully. Otherwise, have a look at the action's [log](https://github.com/Krapaince/ibm-openapi-validator-incorrect_ref_pattern/runs/6064425793?check_suite_focus=tru

[2022-04-18 22:06] Krapaince commented on #301
I have done some tests with the validator and it seems that with multiple `paths`, the validator reports errors where there isn't see https://github.com/IBM/openapi-validator/issues/301#issuecomment-1101507533.
Whereas when there is only one `path` enabled  (see [14fbc95]( https://github.com/Krapaince/ibm-openapi-validator-incorrect_ref_pattern/tree/14fbc952adc85365574099044f752c93641da729)), no f

[2022-04-19 14:25] #425 closed

[2022-04-19 14:25] #426 closed

[2022-04-19 14:29] ibm-devx-sdk commented on #425
:tada: This issue has been resolved in version 0.14.1 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-19 14:29] ibm-devx-sdk commented on #426
:tada: This issue has been resolved in version 0.14.1 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-19 14:29] ibm-devx-sdk commented on #425
:tada: This issue has been resolved in version 0.65.1 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.65.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-20 12:04] michelecurioni opened #432 "configuration without rewriting whole rule"
Hi,
I would like to change the default case for some of the IBM Cloud rules, but the only way I was able to do so was to override the whole rule.
For instance, operation-id-case-convention is by default snake case, but I want to use camel case:
[code]
Is there an easier way, instead of writing the whole rule again, if I only want to change the configuration?

Thanks

[2022-04-21 17:06] dpopp07 commented on #432
Hi @michelecurioni. Unfortunately, due to the nature of Spectral's configuration support, the only way to change the configuration is to rewrite the rule as you've done above.

[2022-04-21 17:06] #432 closed

[2022-04-26 17:14] hudlow opened #438 "Collections should enumerate methods in a path item object"
For example:

[code]

really ought to be:

[code]

[2022-05-12 20:07] meem opened #444 "Provide rule to check that all schemas have a `type`"
With the understanding that some APIs make use of schemas that have no type (i.e., this might default to being optional), our API expects all schemas to have a type, but this is only policed manually at present.  It'd be very helpful to have this enforced by the validator.

[2022-05-26 19:10] dpopp07 commented on #444
That does seem like a helpful validation - I'll look into adding this soon

[2022-05-27 15:58] dpopp07 commented on #444
https://github.com/IBM/openapi-validator/pull/448

[2022-06-03 19:05] brendansafr opened #451 "Unexpected inline_response_schema warning when the schema $ref points to another file"
- Using: `ibm-openapi-validator@0.51.3`
- Related to: #125

Hello 😄

When using a ref to a response that exists in another file, I get the following warning:

[code]

Thing is, I think I *am* using a named ref, it just points to another file...

Excerpt from my `index.yml`
[code]

Excerpt from my `models/visits.yml`
[code]

In addition, I get the same error using a schema ref, and skipping the res

[2022-06-07 16:04] ibm-devx-sdk commented on #444
:tada: This issue has been resolved in version 0.29.0 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.29.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-07 16:05] ibm-devx-sdk commented on #444
:tada: This issue has been resolved in version 0.80.0 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.80.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-10 15:00] fenuks opened #456 "Output violated rule names"
It would be convenient, if output had rulename. E.g. I have
[code]
and I have to search/guess for rulename to configure it, or learn about it.

Proposed solution:
[code]

[2022-06-13 16:17] dpopp07 commented on #456
This is actually supported already via the `-v, --verbose` flag. See all options [here](https://github.com/IBM/openapi-validator#command-line)

[2022-06-13 19:28] dpopp07 commented on #451
Hi @brendansafr - sorry for the delay in response. It is not bad to re-use schemas declared in another file. The tool is supposed to be able to handle API definitions defined across multiple files - this may be occurring due to a bug in the parsing logic. Have you tried this with any later versions?

[2022-06-14 07:20] fenuks commented on #456
Thanks! That indeed does what I want. :)

[2022-06-14 07:20] #456 closed

[2022-06-22 02:13] smridge commented on #354
I'm having this issue as well. I can't for the life of me get a handful of rules ignored for the latest version `0.81.0`..the most notable being:
- `property-case-convention`
- `oas3-schema`

[2022-07-01 03:46] zcz3313 opened #458 "feat: Need a rule 'array-boundry'"
I think we need a rule like 'string-boundry' to check input array type.
It is necessary to define ```minItems``` and ```maxItems``` property if data type is array.
Since I'm not familiar with js, I hope someone could add this rule instead.

[2022-07-01 21:45] brendansafr commented on #451
Good call! No rush :) I'll give it a go on the latest version :D

[2022-07-01 22:28] brendansafr commented on #451
I created a [StackBlitz](https://stackblitz.com/edit/node-eukfgf) and can confirm, the warning I received goes away using `ibm-openapi-validator@0.81.0`. I'll upgrade to the latest version 😄 Thank you!

[2022-07-01 22:28] #451 closed

[2022-07-14 20:32] #458 closed

[2022-07-14 20:37] ibm-devx-sdk commented on #458
:tada: This issue has been resolved in version 0.31.0 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.31.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-14 20:38] ibm-devx-sdk commented on #458
:tada: This issue has been resolved in version 0.82.0 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.82.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-21 11:22] JenswBE commented on #338
Seems `validator` will never put it as default as it's not valid accordingly to the RFC. See https://github.com/validatorjs/validator.js/issues/1609 for more info.

Are you open to consider `{ host_whitelist: ['localhost'] }`? If not, feel free to close this ticket.

[2022-07-25 16:22] rparini-intellegens opened #466 "security-scheme-attributes does not account for relative URLs"
Using the example from the [swagger docs](https://swagger.io/docs/specification/api-host-and-base-path/) for Relative URLs
[code]
the validator produces the error messages
[code]

But I believe this should be valid because, according to the [OpenAPI 3 spec](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.0.md#relativeReferences):

and in this example the `authorizationUrl` and

[2022-07-25 16:34] dpopp07 commented on #338
Hey @JenswBE after some internal discussion, we decided not to support `localhost` as a valid URL. Thank you for the issue!

[2022-07-25 16:34] #338 closed

[2022-08-02 19:30] dpopp07 commented on #354
@smridge Can you share more about your configuration? This should now be working [as documented](https://github.com/IBM/openapi-validator/blob/main/docs/ibm-cloud-rules.md#customization)

[2022-08-02 19:32] dpopp07 commented on #301
@Krapaince Sorry for losing track of this - I'll take a look at your test repo soon

[2022-08-02 19:36] dpopp07 commented on #466
@rparini-intellegens You're right - the current rule doesn't account for this scenario and it does appear to be valid according to the spec. We'll need to fix the rule to support this

[2022-08-05 16:24] #411 closed

[2022-08-05 16:27] #400 closed

[2022-08-05 16:29] dpopp07 commented on #295
Use of the `.validaterc` file is now deprecated. See [the new documentation around customization](https://github.com/IBM/openapi-validator/blob/main/docs/ibm-cloud-rules.md#customization) for more info.

[2022-08-05 16:29] #295 closed

[2022-08-05 16:32] dpopp07 commented on #289
All of our rules are now available as an independent NPM package, formatted as a Spectral ruleset. If the node module version of the validator does not work in the browser, [Spectral itself should](https://meta.stoplight.io/docs/spectral/eb68e7afd463e-spectral-in-java-script#browser) and it's possible to run only the full suite of rules from this package.

[2022-08-05 16:32] #289 closed

[2022-08-05 18:45] dpopp07 commented on #208
We've overhauled how configuration works in this tool so I'm not sure how relevant this is anymore. Feel free to re-open if you want to have more discussion

[2022-08-05 18:45] #208 closed

[2022-08-05 18:47] dpopp07 commented on #158
Closing as stale

[2022-08-05 18:47] #158 closed

[2022-08-05 18:51] dpopp07 commented on #413
@michelecurioni this has been resolved in v0.83.1 of this tool

[2022-08-05 18:51] #413 closed

[2022-08-05 20:37] dpopp07 commented on #301
@Krapaince I believe this has been resolved in the validator since this issue was opened (version 0.75.0), as we completely re-did the ref pattern rule when converting it into the Spectral format. I was unable to reproduce with your test repo. Feel free to re-open if you're still seeing the issue

[2022-08-05 20:37] #301 closed

[2022-08-09 16:26] #366 closed

[2022-08-09 16:27] #354 closed

[2022-08-09 16:33] dpopp07 commented on #345
@sebas-intellegens Apologies for the late reply here. That's certainly worth considering, though we currently have a suite of higher-priority rules we're implementing. If this is important for your use case in the short term, I recommend extending our ruleset with a custom rule that enables this enforcement.

[2022-08-09 16:34] #274 closed

[2022-08-09 16:35] dpopp07 commented on #270
This seems to be a Windows-specific issue with the tool. Is this still happening on the latest version?

@rolivares  @alecor191

[2022-08-09 16:36] #259 closed

[2022-08-09 19:52] #466 closed

[2022-08-09 19:58] ibm-devx-sdk commented on #466
:tada: This issue has been resolved in version 0.33.1 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.33.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-09 19:58] ibm-devx-sdk commented on #466
:tada: This issue has been resolved in version 0.84.1 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.84.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-10 14:35] #235 closed

[2022-08-10 14:39] ibm-devx-sdk commented on #235
:tada: This issue has been resolved in version 0.33.2 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.33.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-10 14:39] ibm-devx-sdk commented on #235
:tada: This issue has been resolved in version 0.84.2 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.84.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-10 22:27] smridge commented on #354
Ah ok, I will give this another try and see if I still run into any issues. Thank you for the reference!

[2022-08-26 14:40] rliebz opened #486 "readOnly and writeOnly required properties incorrectly validated in examples"
Version: 0.88.3

When defining a `readOnly` or `writeOnly` property on a component, the linter does not take that into consideration when validating examples for request bodies or response bodies.

For example, if I defined a component with an `id` property that was defined as `readOnly`, I would expect that:
- In a `requestBody`, the `id` field is disallowed in the examples, because it is "read o

[2022-08-29 17:15] dpopp07 commented on #486
@rliebz I think you're correct, I would expect the same behavior you've described above. I hadn't noticed this before. Unfortunately, the rule `oas3-valid-media-example` is coming from [Spectral](https://github.com/stoplightio/spectral/)'s own ruleset, which we import into ours. You might want to open up an issue against their repo for their awareness

[2022-09-08 12:28] briangleeson opened #489 "Incorrect validation occuring for some parameters"
Version: `ibm-openapi-validator@0.91.0`

The validator comes back with this warning that seems to be invalid:
[code]
This is coming up for 3 parameters in our API. The full yaml file can be seen [here](https://github.ibm.com/org-ids/pipeline-ui/blob/16c124641c37e8778bf0adf1fde763503ad5a01a/tekton/controllers/spec/v2/openapi.yaml)

For example this one gets the warning:

[code]
[code]
We're using t

[2022-09-08 12:32] briangleeson opened #490 "Incorrect validation occuring due to property using "enum" as a property name"
Version: `ibm-openapi-validator@0.91.0`

The validator comes back with a warning for the content of some of our example responses:

[code]

This is arising in 9 places in our API yaml. The full yaml file can be seen [here](https://github.ibm.com/org-ids/pipeline-ui/blob/16c124641c37e8778bf0adf1fde763503ad5a01a/tekton/controllers/spec/v2/openapi.yaml)

This is one example:
[code]

Schema for the en

[2022-09-12 14:38] katya-spasova opened #492 "Runtime error when validating endpoints referred from another file"
Reproducible with Version 0.92.0

A runtime error is thrown when validating an endpoint with 2xx response whose definition is referenced from another file. Check the test.yml and referred.yml files in the attached zip file.
To reproduce try to validate `test.yml`.

The zip file also includes outputs from version 0.91.0 and the result of validating non 2xx response (with version 0.92.0) for which t

[2022-09-29 14:43] rliebz commented on #486
Looks like a known issue: https://github.com/stoplightio/spectral/issues/1274

[2022-09-30 09:19] michelecurioni opened #498 "print RuleSet version"
Hi,
would it be possible to print the version of the ruleset package included in the validator?
For instance, when I run 'lint-openapi --version', it would be useful to have something like this:
ValidatorVersion:"0.95.0", RuleSetVersion:"0.44.0"

The format is not important for me, just the information.

The version of the RuleSet package is useful to look at RuleSet's changelog to identify which

[2022-10-04 15:31] dpopp07 commented on #498
@michelecurioni Thanks for the suggestion. That seems very reasonable/useful to me. I'll look at adding that soon

[2022-10-05 21:54] #498 closed

[2022-10-05 22:02] ibm-devx-sdk commented on #498
:tada: This issue has been resolved in version 0.96.0 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/ibm-openapi-validator/v/0.96.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-07 14:48] flowstef commented on #354
This has been troubling me for a while now and I tried again today with v0.96.0 but unless I use @DanRoseus's workaround, my `.spectral.yaml` is ignored.

[2022-10-07 14:56] dpopp07 commented on #354
Are you seeing that the `.spectral.yaml` file is being ignored altogether or that it's not being honored because the ruleset it's pointing to can't be found?

The location of the ruleset in the filesystem relative to the tool does matter

[2022-10-07 15:08] flowstef commented on #354
Good question, I don't have the answer to that.
I'm using the docker version of the tool and run it like this:
`docker run --volume "$(PWD)":/data jamescooke/openapi-validator:0.96.0 -v -s -r .spectral.yaml ./src/api.json`
My guess is that it's the latter but I'm not sure how to debug it - the docker logs don't show any errors.

[2022-10-11 20:44] jfoclpf opened #505 "Error valid-path-segments on path /gps/{latitude},{longitude}"
I read the [docs](https://github.com/IBM/openapi-validator/blob/main/docs/ibm-cloud-rules.md#rule-valid-path-segments) (Rule: valid-path-segments) but I don't understand this error. That's the only error I'm having in my openapi file.

Imagine I have a path to get a point in a map given some coordinates. Why the path ` /gps/{latitude},{longitude}` should be wrong if both `latitude` and `longitude`

[2022-10-11 20:50] jfoclpf commented on #505
this is the rule in the file

[code]

[2022-10-11 20:51] dpopp07 commented on #505
It seems like path parameters are actually not well suited to your use case. Path parameters really should be unique identifiers for a resource within your API.

Is there a reason why you aren't using query parameters for latitude and longitude here?

[2022-10-11 22:04] jfoclpf commented on #505
I also allow the possibility of query parameters, but I find `/gps/40.153687,-8.514602` nicer to present than `/gps?lat=40.153687&lon=-8.514602`.

Anyway I overcame the problem by having a `/gps/{coordinates}` with type string (for example `'40.153687,-8.514602'`)

[2022-10-11 22:05] jfoclpf commented on #505
Thanks a lot

[2022-10-11 22:05] #505 closed

[2022-10-12 18:09] dpopp07 commented on #354
Oh okay, I see. It looks like it is a matter of not finding the file, since the docker image probably doesn't include the ruleset as a separate package. I know it's a little hacky but I think you can workaround this by pointing the config file directly at the ruleset dependency. Something like `extends: <path>/node_modules/@ibm-cloud/openapi-ruleset/src/ibm-oas.js`

[2022-10-12 19:43] arichiardi opened #507 "Ajv/dist/core MODULE_NOT_FOUND"
Dear all,
we are using this validator and running into the following:

[code]

[This spectral commit](https://github.com/stoplightio/spectral/commit/e1133e593a7a63fe422bc20dd6f4731112accb82) might be the culprit.

Any advice on how to work around it?

[2022-10-13 07:11] rparini-intellegens opened #509 "Performance regression on node 16 and 18"
Running the openapi-validator version 0.96.0 for our schema takes ~10s on node 14 but ~7mins on node 16 and 18. This might be a recurrence of https://github.com/IBM/openapi-validator/issues/347 ?

[2022-10-13 13:19] flowstef commented on #354
Yep, that's what I'm doing. I just thought I'd comment to show this is still an issue (even though the ticket is closed) so others can find [the solution](https://github.com/IBM/openapi-validator/issues/354#issuecomment-1044311937) more easily.

[2022-10-13 13:25] dpopp07 commented on #354
I appreciate it. I'm leaving it closed because it seems the issue is not with this project but with the Docker image, which is community-supported.

@jamescooke if you're still maintaining the Docker image, perhaps the image should include the ruleset package as a dependency so the config file can specify `extends: '@ibm-cloud/openapi-ruleset'` without any trouble.

[2022-10-13 13:31] dpopp07 commented on #509
@rparini-intellegens thanks for the issue. I think this is probably separate from 347 but it is a known problem we are working on resolving. Unfortunately, our initial investigation has yielded some really strange results and we're having trouble identifying the source of the poor performance.

As a temporary workaround while we work on this, we've started including platform-specific binaries with

[2022-10-13 13:51] dpopp07 commented on #509
Edit: [this PR](https://github.com/IBM/openapi-validator/pull/508#pullrequestreview-1140834730) shows really promising results for me

[2022-10-17 22:23] jamescooke commented on #354
@dpopp07 Yes, I'm still maintaining the Docker image, but I'm no longer using the validator on a daily basis at work.

I've opened https://github.com/jamescooke/openapi-validator-docker/issues/200

There are specific questions on this image issue - TL;DR:

* What's the smallest failing test that can be built into the GitHub Actions system to ensure that the ruleset has been installed correctly?
*

[2022-10-18 18:54] ibm-devx-sdk commented on #498
:tada: This issue has been resolved in version 0.44.1 :tada:

The release is available on [npm package (@latest dist-tag)](https://www.npmjs.com/package/@ibm-cloud/openapi-ruleset/v/0.44.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-18 22:01] dpopp07 commented on #507
@arichiardi What command are you running that results in this error? I have not been able to reproduce

[2022-10-24 14:37] galikpali commented on #492
I think I have the same error as @katya-spasova

[code]

My OpenAPI structure looks like this:
 - `_index.yaml`
 - `user.yaml`

 index.yaml:
[code]

user.yaml:
[code]

[2022-10-26 15:54] #509 closed

[2022-10-27 14:26] RupanshySharma opened #510 "Cannot find module 'nimma/legacy' in OpenAPI"
I am getting following error while generating oas-sdk in OpenAPI on this command - lint-openapi api/blockchain-identity-service/openapi.yaml
[code]
I have observed we start getting this error when we upgrade ibm-openapi-validator  package to 0.77.1 I have also tried with the latest package version 0.96.1 But with the latest version also I am getting the same error.
I have tried to add jest.config.

[2022-10-31 19:27] dpopp07 commented on #510
This will be resolved by #511

[2022-10-31 19:27] dpopp07 commented on #492
This will be resolved by #511

[2022-10-31 20:36] #510 closed

[2022-10-31 20:36] dpopp07 commented on #492
Resolved in 0.96.2

[2022-10-31 20:36] #492 closed

[2022-11-06 09:14] Blaimi opened #512 "[feature request] new output format for Code Climate"
For the integration of the validation results in other software, it would be nice to have the possibility to get the output as json as specified by Code Climate. Especially the integration in gitlab-ci requires this format.

https://github.com/codeclimate/platform/blob/master/spec/analyzers/SPEC.md#data-types

[2022-11-08 08:13] RupanshySharma commented on #510
In 0.96.2 also, this problem is not resolved. Hence reopening the issue.

[2022-11-09 15:54] spaceone opened #513 "Syntax error: empty string near e": {"": ""
a file containing an dictionary with an empty value (valid json) produces an error:
[code]

[code]

[2022-11-10 03:09] prchowdh opened #514 "Different reporting by npm vs command line tool"
By the command line tool following was reported as a single issue

[code]

By then we run it through npm package, and wherever the ErrorResponse object was used, the issue was reported.

[code]

[2022-11-18 11:17] mehdi-sol commented on #492
Hey @dpopp07 ,
Looks like the released binary for macOS is still on v0.96.1.

[2022-11-18 16:40] dpopp07 opened #515 "Validator binary release prints wrong version"
Here's what is happening: the binary build / package step of the validator happens with the right code, but before `semantic-release` updates the package.json file with the new version. Therefore, when `lint-openapi-<os> --version` is run, it prints the previous version number, despite being the code for the current version.

This is confusing and we're working on a fix.

[2022-11-18 16:41] Southclaws opened #516 "Unexpected error "Skipping non-existent file""
Not really sure what else to say 😅

![image](https://user-images.githubusercontent.com/1636971/202756387-58d13512-410e-4ec8-a28a-6924f8837a83.png)

Perhaps there's another problem and the error message is wrong?

[2022-11-18 16:41] dpopp07 commented on #492
@mehdi-sol I opened up [an issue with the details](https://github.com/IBM/openapi-validator/issues/515)

The good news is, it should only be the version number printed that is wrong. The binary should be reflective of the latest version of the code

[2022-11-18 16:43] dpopp07 commented on #516
Hmm it looks like you're running on Windows - is that correct? This issue has popped up before, the backslash confuses the code even though it should treat file separators generically

[2022-11-18 16:47] mehdi-sol commented on #492
Thank you for checking this out @dpopp07.
I've installed the package using npm and I can confirm the version is now 0.96.2:
[code]

But I still get crashes:
[code]

The worst part is sometimes the process runs successfully, sometimes it doesn't!

[2022-11-18 17:31] Southclaws commented on #516
Yeah, Windows. Figured so, Windows accepts either slash so `/` works but native shells on Windows like PowerShell and Nushell tab-complete to the OS default of `\`.

Node.js has APIs for each operating system so you can switch the parser based on `path.sep`. Unfortunately it defaults to POSIX only but you can call `path.win32` on Windows and `path.posix` on Linux.

[2022-11-30 17:36] dpopp07 commented on #512
@Blaimi Are you using the validator as a Node module within JavaScript code or as a CLI tool?

[2022-11-30 17:57] dpopp07 commented on #507
Hmm. I still cannot reproduce. Can you reproduce the issue running Spectral on its own against your API definition? It's possible it is a Spectral bug.

[2022-11-30 18:58] markkulube commented on #507
Just to piggy back off this issue since we facing similar error when calling `validator` inside a `node` app:

### code

[code]

### error

[code]

[2022-11-30 19:34] markkulube commented on #507
@arichiardi

Could you maybe update issue title to `ajv/dist/core and ajv/dist/compile/codegen modules not found`?

[2022-11-30 20:15] arichiardi commented on #507
Done! Apologies for not getting back to you but this one is unfortunately very low in our priority list at the moment. I am successfully using the (pinned) previous version though!

[2022-11-30 20:43] dpopp07 commented on #514
It does seem there are some issues with the Node module portion of the validator but I should note that we are currently planning on deprecating the Node module API and therefore, it is no longer being supported.

Our recommendation moving forward is to use [Spectral's Node API](https://meta.stoplight.io/docs/spectral/eb68e7afd463e-spectral-in-java-script) and import our ruleset as a dependency to